<!--<div ng-app="IIITKWebsite" ng-controller="BatchController">-->

<md-card>
<div class="container">
            <form method="POST" name="batch" style="width:inherit">
                <!--<div class="container">-->
                <md-toolbar md-scroll-shrink ng-if="true">
                    <div class="md-toolbar-tools">
                        <h3>
                            <span>Add new Batch</span>
                        </h3>
                    </div>
                </md-toolbar>
                <hr>




                    <label><b>Year</b></label>
                      <md-select ng-model="year">
                          <md-optgroup label="Year">
                              <md-option ng-value="item" ng-repeat="item in year_options">{{item}}</md-option>

                              <!--<select type="text" ng-model="year" ng-options="x for x in year_options" class="select_bar"></select>-->
                          </md-optgroup>
                      </md-select>




                <label><b>Type</b></label>
                <md-select ng-model="type">
                    <md-optgroup label="Type">
                        <md-option ng-value="item" ng-repeat="item in type_options">{{item}}</md-option>
                    </md-optgroup>
                </md-select>




                <label><b>Branch</b></label>
                <md-select ng-model="branch">
                    <md-optgroup label="Branch">
                        <md-option ng-value="item" ng-repeat="item in branch_options">{{item}}</md-option>
                    </md-optgroup>
                </md-select>

                    <div layout="row">
                        <div class="col-md-5">
                            <label><b>Student Name</b></label>
                        </div>
                        <div class="col-md-1">
                        </div>

                        <div class="col-md-5">
                            <label><b>Student ID</b></label>
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
                    <div class="row" ng-repeat="student in students">
                        <div class="col-md-5">
                            <input type="text" placeholder="Student Name" name="name" ng-model="student.name">
                        </div>
                        <div class="col-md-1">
                        </div>

                        <div class="col-md-5">
                            <input type="text" placeholder="Student Id" name="id" ng-model="student.college_id">
                        </div>
                        <div class="col-md-1">
                            <img src="/images/trashbtn.png" class="trashbtn" ng-click="removeStudentRow($index)">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <input type="text" placeholder="Student Name" name="name" ng-model="s_name">
                        </div>
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-5">
                            <input type="text" placeholder="Student Id" name="id" ng-model="s_id">
                        </div>
                        <div class="col-md-1">
                            <img src="/images/plusbtn.png" class="addbtn" ng-click="addStudentRow()">
                        </div>
                    </div>


                <!--<div class="clearfix">-->
                <div layout="row" flex>
                        <md-button flex="50" class="md-warn md-raised" ng-click="goToAllBatches()">CANCEL</md-button>
                        <md-button flex="50" class="md-raised md-primary" ng-click="addNewBatch()">ADD</md-button>
                </div>
                    <!--</div>-->
                <!--</div>-->
            </form>
    </div>
</md-card>
<!--</div>-->