<!doctype html>
<html lang="en" ng-app="IIITKWebsite">
<head>
    <% include admin_layout.ejs%>


    <style>
        .update-button {
            /*font-size: 16px;*/
            /*margin: 20px 0;*/
            /*padding: 3px 15px 3px 15px;*/
            /*color: white;*/
            /*text-transform: none;*/
            /*font-weight: 400;*/
            /*min-width:100px;*/

            color:white;
            background-color: rgba(255, 171, 61, 0.96);
        }

    </style>
</head>

<body>
<div ng-controller="BatchController">

    <% include sidebar.ejs%>
        <main class="mdl-layout__content mdl-color--grey-100">
            <div ng-if="allbatches" style="width: inherit;">
               <div class="container">
                    <md-toolbar md-scroll-shrink ng-if="true">
                            <div class="md-toolbar-tools">
                                <h3>
                                    <span>Current Batches</span>
                                </h3>
                            </div>
                        </md-toolbar>
                            <hr>
                            <table class="batch-table">

                                <tr class="batch-tr">
                                    <th class="batch-th">Batch Type</th>
                                    <th class="batch-th">Year</th>
                                    <th class="batch-th">Branch</th>
                                    <th class="batch-th">Action</th>
                                    <th class="batch-th">Update as Graduated</th>
                                    <th class="batch-th"></th>
                                </tr>
                                <tr class="batch-tr" ng-repeat="batch in curr_batches.data">
                                    <td class="batch-td">{{batch.type}}</td>
                                    <td class="batch-td">{{batch.year}}</td>
                                    <td class="batch-td">{{batch.branch}}</td>
                                    <td class="batch-td" layout="row" flex>
                                        <md-button  flex="50" class="md-raised md-warn" ng-click="removeBatchClicked(batch)" data-toggle="modal" data-target="#RemoveModal">REMOVE BATCH</md-button>
                                        <md-button  flex="50" class="md-raised" style="background-color: #4caf50" ng-click="addStudentClicked(batch)">ADD STUDENTS</md-button>
                                    </td>
                                    <td class="batch-td">
                                        <md-button  class="md-raised md-primary" style="background-color: #089ad3" ng-click="updateBatchClicked(batch)" data-toggle="modal" data-target="#UpdateModal">UPDATE</md-button>

                                    </td>
                                    <td class="batch-td" data-toggle="modal" data-target="#StudentDetailsModal" ng-click="makeBatchArray(batch)"><span class="glyphicon glyphicon-chevron-right"></span></td>
                                </tr>
                            </table>

                            <md-button type="button" ng-click="addBatchClicked()" class="md-raised md-primary">ADD BATCH</md-button>



                <div class="container">
                        <md-toolbar md-scroll-shrink ng-if="true">
                            <div class="md-toolbar-tools">
                                <h3>
                                    <span>Graduated Batches</span>
                                </h3>
                            </div>
                        </md-toolbar>
                        <hr>
                        <table class="batch-table">

                            <tr class="batch-tr">
                                <th class="batch-th">Batch Type</th>
                                <th class="batch-th">Year</th>
                                <th class="batch-th">Branch</th>
                                <th class="batch-th">Action</th>
                                <th class="batch-th"></th>

                            </tr>
                            <tr class="batch-tr" ng-repeat="batch in grad_batches.data">
                                <td class="batch-td">{{batch.type}}</td>
                                <td class="batch-td">{{batch.year}}</td>
                                <td class="batch-td">{{batch.branch}}</td>
                                <td class="batch-td">
                                    <md-button class="md-raised md-warn" ng-click="removeBatchClicked(batch)" data-toggle="modal" data-target="#RemoveModal">REMOVE BATCH</md-button>
                                </td>
                                <td class="batch-td" data-toggle="modal" data-target="#StudentDetailsModal" ng-click="makeBatchArray(batch)"><span class="glyphicon glyphicon-chevron-right"></span></td>

                            </tr>
                        </table>
                    </div>

               </div>
            </div>
            <!-- ########################################################################################################################################## -->
            <div ng-show="addbatch" style="width: inherit;">
                <% include addBatch.ejs%>
            </div>
            <!-- ##############################################################################  -->
            <div ng-show="addstudent" style="width: inherit;">
                <% include addStudent.ejs%>
            </div>

        </main>

    <!-- Update Modal -->
    <div class="modal fade" id="UpdateModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" style="float:right">&times;</button>
                    <h4 class="modal-title">Update Batch Details</h4>
                    <pre><b>Year: </b>{{batch_details.year}}    <b>Type: </b>{{batch_details.type}}    <b>Branch: </b>{{batch_details.branch}}</pre>
                </div>
                <div class="modal-body">
                    <p>Do you really want to make this CURRENT batch as GRADUATED batch...?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="updateBatchToGraduated(batch_details)">Confirm</button>
                </div>
            </div>

        </div>
    </div>


    <!-- Remove Modal -->
    <div class="modal fade" id="RemoveModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" style="float:right">&times;</button>
                    <h4 class="modal-title">Remove Batch Details</h4>
                    <pre><b>Year: </b>{{batch_details.year}}    <b>Type: </b>{{batch_details.type}}    <b>Branch: </b>{{batch_details.branch}}</pre>
                </div>
                <div class="modal-body">
                    <p>Do you really want to make DELETE this current batch...?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="removeBatch(batch_details)">Confirm</button>
                </div>
            </div>

        </div>
    </div>

    <!-- StudentDetailsModal -->
    <div class="modal fade" id="StudentDetailsModal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" style="float:right">&times;</button>
                    <h4 class="modal-title">Student List</h4>
                    <pre><b>Year: </b>{{student_details.year}}    <b>Type: </b>{{student_details.type}}    <b>Branch: </b>{{student_details.branch}}</pre>
                </div>
                <div class="modal-body">
                    <table class="batch-table">

                        <tr class="batch-tr">
                            <th class="batch-th">College ID</th>
                            <th class="batch-th">Name</th>

                        </tr>
                        <tr class="batch-tr" ng-repeat="student in student_array">
                            <td class="batch-td">{{student.college_id}}</td>
                            <td class="batch-td">{{student.name}}</td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>
</body>