<!doctype html>
<html lang="en" ng-app="IIITKWebsite">
<head>
    <% include admin_layout.ejs%>
</head>

<body>
<div ng-controller="CurriculumController">
    <% include sidebar.ejs%>
    <main class="mdl-layout__content mdl-color--grey-100">
        <md-card>
        <md-content layout-padding>
            <div class="container">
                <md-toolbar md-scroll-shrink ng-if="true">
                    <div class="md-toolbar-tools">
                        <h3>
                            <span>Add Subject</span>
                        </h3>
                    </div>
                </md-toolbar>
            <form name="projectForm">
                <br>
                <md-input-container class="md-block">
                    <label>Subject Name</label>
                    <input md-maxlength="30" required md-no-asterisk name="description" ng-model="subjectname">
                    <div ng-messages="projectForm.description.$error">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="md-maxlength">The description must be less than 30 characters long.</div>
                    </div>
                </md-input-container>

                <div layout="row">
                    <md-input-container flex="50">
                        <label>Semester</label>
                        <md-select ng-model="semester">
                            <md-optgroup label="Semester">
                                <md-option ng-value="item" ng-repeat="item in semesterlist">{{item}}</md-option>
                            </md-optgroup>
                        </md-select>
                    </md-input-container>

                    <md-input-container flex="50">
                        <label>Branch</label>
                        <md-select ng-model="branch">
                            <md-optgroup label="Branch">
                                <md-option ng-value="item" ng-repeat="item in branchlist">{{item}}</md-option>
                            </md-optgroup>
                        </md-select>
                    </md-input-container>
                </div>

                <md-input-container class="md-block">
                    <label>Credits</label>
                    <input required type="number" step="1" name="rate" ng-model="credits" min="1"
                           max="6" />

                    <div ng-messages="projectForm.rate.$error" multiple md-auto-hide="false">
                        <div ng-message="required">
                          You have to give some credits to the Subject.
                        </div>

                        <div ng-message="min">
                            The credit should be between 1 and 6
                        </div>

                        <div ng-message="pattern">
                            The credit should be between 1 and 6
                        </div>

                        <div ng-message="max">
                            The credit should be between 1 and 6.
                        </div>
                    </div>
                </md-input-container>

                <div>
                    <md-button type="submit" ng-click ="addSubjectInCurriculum()">Submit</md-button>
                </div>
            </form>
            </div>
        </md-content>
        </md-card>










<!--############################# List of all Subjects #####################-->


        <md-divider></md-divider>
        <md-card>
<div class="container">
        <md-toolbar layout="row" class="md-hue-3">
            <div class="md-toolbar-tools">
                <span>List of Subjects Undergoing</span>
            </div>
        </md-toolbar>

        <md-subheader ng-if="subject.length > 0" class="md-no-sticky">No Curriculum has been updated yet.</md-subheader>

    <md-list-item class="md-3-line" ng-repeat="item in subject" ng-click="null">
        <img ng-src="/images/1.jpg" class="md-avatar" alt="{{item.subject}}" />
        <div class="md-list-item-text" layout="column">
            <h3>{{ item.subject }}</h3>
            <h4>{{ item.semester }}</h4>
            <p>{{ item.credits }}</p>
        </div>
        <div layout ="row">
        <md-button class="md-warn md-secondary" ng-click="updateCurriculum($index)">Update</md-button>
        <md-button class="md-warn md-secondary" ng-click="updateCurriculum($index)">Delete</md-button>
        </div>
        <md-divider></md-divider>
    </md-list-item>
</div>

        </md-card>
<!--  #########################################################################-->



       <md-divider></md-divider>



        <md-card>
            <md-content layout-padding>
                <div class="container">
                    <md-toolbar md-scroll-shrink ng-if="true">
                        <div class="md-toolbar-tools">
                            <h3>
                                <span>Update Subject</span>
                            </h3>
                        </div>
                    </md-toolbar>
                    <form name="projectForm">
                        <br>
                        <md-input-container class="md-block">
                            <label>Subject Name</label>
                            <input md-maxlength="30" required md-no-asterisk name="description" ng-model="subjectname">
                            <div ng-messages="projectForm.description.$error">
                                <div ng-message="required">This is required.</div>
                                <div ng-message="md-maxlength">The description must be less than 30 characters long.</div>
                            </div>
                        </md-input-container>

                        <div layout="row">
                            <md-input-container flex="50">
                                <label>Semester</label>
                                <md-select ng-model="semester">
                                    <md-optgroup label="Semester">
                                        <md-option ng-value="item" ng-repeat="item in semesterlist">{{item}}</md-option>
                                    </md-optgroup>
                                </md-select>
                            </md-input-container>

                            <md-input-container flex="50">
                                <label>Branch</label>
                                <md-select ng-model="branch">
                                    <md-optgroup label="Branch">
                                        <md-option ng-value="item" ng-repeat="item in branchlist">{{item}}</md-option>
                                    </md-optgroup>
                                </md-select>
                            </md-input-container>
                        </div>

                        <md-input-container class="md-block">
                            <label>Credits</label>
                            <input required type="number" step="1" name="rate" ng-model="credits" min="1"
                                   max="6" />

                            <div ng-messages="projectForm.rate.$error" multiple md-auto-hide="false">
                                <div ng-message="required">
                                    You have to give some credits to the Subject.
                                </div>

                                <div ng-message="min">
                                    The credit should be between 1 and 6
                                </div>

                                <div ng-message="pattern">
                                    The credit should be between 1 and 6
                                </div>

                                <div ng-message="max">
                                    The credit should be between 1 and 6.
                                </div>
                            </div>
                        </md-input-container>

                        <div>
                            <md-button type="submit" ng-click ="updateSubject()">Submit</md-button>
                        </div>
                    </form>
                </div>
            </md-content>
        </md-card>
















    </main>
</div>
</body>