<!doctype html>
<html lang="en" ng-app="IIITKWebsite">
<head>
    <% include admin_layout.ejs%>
</head>

<body>
<div ng-app="IIITKWebsite" ng-controller="FacultyController" name="upload_form">
    <% include sidebar.ejs %>
    <main class="mdl-layout__content mdl-color--grey-100">

        <md-card ng-show="addnewfaculty">
        <div class="container">
               <form method="POST"
                      ref='uploadForm'
                      encType="multipart/form-data"
                >
        <div class="container">
            <md-toolbar layout="row" class="md-hue-2">
                <div class="md-toolbar-tools">
                    <span>Add new Faculty</span>
                </div>
            </md-toolbar>
            <hr>
            <div layout="row">
                <md-input-container flex="50">
                    <label>First Name</label>
                    <input required name="firstname" ng-model="firstname">
                    <div ng-messages="projectForm.firstname.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>

                <md-input-container flex="50">
                    <label>Last Name</label>
                    <input required name="lastname" ng-model="lastname">
                    <div ng-messages="projectForm.lastname.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
            </div>


            <md-input-container class="md-block">
                <label>Email</label>
                <input required type="email" name="email" ng-model="email"
                       minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />

                <div ng-messages="projectForm.email.$error" role="alert">
                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                        Your email must be between 10 and 100 characters long and look like an e-mail address.
                    </div>
                </div>
            </md-input-container>



            <md-input-container class="md-block">
                <label>Post</label>
                <input md-maxlength="30" required md-no-asterisk name="description"  ng-model="post">
                <div ng-messages="projectForm.description.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>



            <md-input-container class="md-block">
                <label>Phone Number</label>
                <input name="phone" ng-model="phone" ng-pattern="/^[789]\d{9}$/" />

                <div class="hint" ng-show="showHints">(###)-##########</div>

                <div ng-messages="projectForm.phone.$error" ng-hide="showHints">
                    <div ng-message="pattern">(###)-########## - Please enter a valid phone number.</div>
                </div>
            </md-input-container>


            <md-input-container class="md-block">
                <label>Branch</label>
                <input md-maxlength="50" required md-no-asterisk name="description"  ng-model="branch">
                <div ng-messages="projectForm.description.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>


            <md-input-container class="md-block">
                <label>Place of Education</label>
                <input md-maxlength="100" required md-no-asterisk name="description"  ng-model="education">
                <div ng-messages="projectForm.description.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>



            <md-input-container class="md-block">
                <label>About</label>
                <input md-maxlength="100" required md-no-asterisk name="description"  ng-model="about">
                <div ng-messages="projectForm.description.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>


            <div layout="row" flex>
                <md-button onclick="document.getElementById('id01').style.display='none'" class="md-warn md-raised" ng-click="goToAllFaculty()">Cancel</md-button>
                <md-button ng-click="addFaculty()" class="md-primary md-raised">ADD</md-button>
            </div>
        </div>
    </form>
            </div>
        </md-card>

    <!--########################################################################-->
    <!-- FACULTY LIST -->
    <!-- ######################################################################-->

<md-card ng-if="allfaculties">

        <div class="container">

                <div style="width: inherit;">
                    <md-toolbar layout="row" class="md-hue-2">
                        <div class="md-toolbar-tools">
                            <span>All Faculties</span>
                        </div>
                    </md-toolbar>
                    <hr>
                    <table class="batch-table">

                        <tr class="batch-tr">
                            <th class="batch-th">Name</th>
                            <th class="batch-th">Branch</th>
                            <th class="batch-th">Contact</th>
                            <th class="batch-th">Education</th>
                            <th class="batch-th">About</th>
                            <th class="batch-th">Operations</th>
                        </tr>
                        <tr class="batch-tr" ng-repeat="data in faculty">
                            <td class="batch-td">{{data.name}}</td>
                            <td class="batch-td">{{data.branch}}</td>
                            <td class="batch-td">{{data.contact}}</td>
                            <td class="batch-td">{{data.education}}</td>
                            <td class="batch-td">{{data.about}}</td>
                            <td class="batch-td" layout="row" flex>
                                <md-button type="button" flex="50" class="md-warn md-raised" ng-click="deleteFaculty(data.id)">Delete</md-button>
                                <md-button type="button" flex="50" class="md-primary md-raised" ng-click = "showUpdateFacultyDialog($index)" >Update</md-button>

                            </td>
                        </tr>
                    </table>
                </div>
            <md-button ng-click="addFacultyClicked()" class="md-raised md-primary">ADD FACULTY</md-button>

            <md-button  ng-click="updateFacultyClicked($index)" class="md-raised md-primary" style="background-color: #089ad3" >UPDATE FACULTY</md-button>

        </div>

</md-card>




        <!--########################################################################-->
        <!-- FACULTY UPDATION -->
        <!-- ######################################################################-->
        <md-card ng-show="updatefacultypage">
            <div class="container">



                <form method="POST" name="projectForm">
                    <div class="container">
                        <md-toolbar layout="row" class="md-hue-2">
                            <div class="md-toolbar-tools">
                                <span>Update Faculty</span>
                            </div>
                        </md-toolbar>

                        <br><br>
                        <div layout="row">
                            <md-input-container flex="50">
                                <label>First Name</label>
                                <input required name="firstname" ng-model="firstname">
                                <div ng-messages="projectForm.firstname.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>

                            <md-input-container flex="50">
                                <label>Last Name</label>
                                <input required name="lastname" ng-model="lastname">
                                <div ng-messages="projectForm.lastname.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                        </div>


                        <md-input-container class="md-block">
                            <label>Email</label>
                            <input required type="email" name="email" ng-model="email"
                                   minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />

                            <div ng-messages="projectForm.email.$error" role="alert">
                                <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                    Your email must be between 10 and 100 characters long and look like an e-mail address.
                                </div>
                            </div>
                        </md-input-container>



                        <md-input-container class="md-block">
                            <label>Post</label>
                            <input md-maxlength="30" required md-no-asterisk name="description"  ng-model="post">
                            <div ng-messages="projectForm.description.$error">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label>Phone Number</label>
                            <input name="phone" ng-model="phone" ng-pattern="/^[789]\d{9}$/" />

                            <div class="hint" ng-show="showHints">(###)-##########</div>

                            <div ng-messages="projectForm.phone.$error" ng-hide="showHints">
                                <div ng-message="pattern">(###)-########## - Please enter a valid phone number.</div>
                            </div>
                        </md-input-container>



                        <md-input-container class="md-block">
                            <label>Branch</label>
                            <input md-maxlength="30" required md-no-asterisk name="description"  ng-model="branch">
                            <div ng-messages="projectForm.description.$error">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>



                        <md-input-container class="md-block">
                            <label>Place of Education</label>
                            <input required md-no-asterisk name="description"  ng-model="education">
                            <div ng-messages="projectForm.description.$error">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>



                        <md-input-container class="md-block">
                            <label>About</label>
                            <input md-maxlength="30" required md-no-asterisk name="description"  ng-model="about">
                            <div ng-messages="projectForm.description.$error">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>

                        <!--<label><b>Upload Profile Picture</b></label>-->
                        <!--<input type="file" style="margin-bottom:15px">-->

                        <div layout="row" flex>
                            <md-button flex="50" class="md-raised md-warn" onclick="document.getElementById('id01').style.display='none'" ng-click="goToAllFaculty()">Cancel</md-button>
                            <md-button flex="50" class="md-raised md-primary" ng-click="updateFaculty()" class="signupbtn">Update User</md-button>
                        </div>
                    </div>
                </form>

            </div>

        </md-card>

    </main>











</div>
</body>
</html>