<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title"><%= title %></span>
            <div class="mdl-layout-spacer"></div>
        </div>
    </header>
    <div class="demo-drawer mdl-layout__drawer mdl-color-text--blue-grey-50" style="background: #1D2228;">
        <header class="demo-drawer-header admin_title" style="background: #1D2228;">
            <img src="/images/IIIT-_Kota_Logo_white.png" alt="IIIT-Kota" style="width:60px;margin-bottom: 10px;"><br>
            <span>Admin</span>
        </header>
        <nav class="demo-navigation mdl-navigation" style="background: #2C353E;">
            <a class="mdl-navigation__link" href="/admin"><i class="material-icons" role="presentation">home</i>Home</a>
            <a class="mdl-navigation__link" href="/news"><i class="material-icons" role="presentation">chrome_reader_mode</i>News</a>
            <a class="mdl-navigation__link" href="/event_dashboard"><i class="material-icons" role="presentation">event</i>Events</a>
            <a class="mdl-navigation__link" href="#"><i class="material-icons" role="presentation">photo_library</i>Photo Gallery</a>
            <a class="mdl-navigation__link" href="/allBatches"><i class="material-icons" role="presentation">layers</i>Batch</a>
            <a class="mdl-navigation__link" href="/faculty_dashboard"><i class="material-icons" role="presentation">people</i>Faculty</a>
            <a class="mdl-navigation__link" href="/curriculum"><i class="material-icons" role="presentation">description</i>Curriculum</a>
            <a class="mdl-navigation__link" href="/social_platforms"><i class="material-icons" role="presentation">public</i>Social</a>
            <a class="mdl-navigation__link" href="/logout"><i class="material-icons" role="presentation">home</i>Logout</a>

            <div class="mdl-layout-spacer"></div>
        </nav>
    </div>
