<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title"><%= title %></span>
            <div class="mdl-layout-spacer"></div>
        </div>
    </header>
    <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
        <header class="demo-drawer-header">
            <img src="/images/IIIT-_Kota_Logo_white.png">
        </header>
        <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
            <a class="mdl-navigation__link" href="/admin"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>Home</a>
            <a class="mdl-navigation__link" href="/news"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">inbox</i>News</a>
            <a class="mdl-navigation__link" href="/event_dashboard"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">delete</i>Events</a>
            <a class="mdl-navigation__link" href="#"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">report</i>Photo Gallery</a>
            <a class="mdl-navigation__link" href="/allBatches"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">forum</i>Students</a>
            <a class="mdl-navigation__link" href="/faculty_dashboard"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">flag</i>Faculty</a>
            <a class="mdl-navigation__link" href="/curriculum"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">local_offer</i>Curriculum</a>
            <a class="mdl-navigation__link" href="/social_platforms"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">people</i>Social</a>
            <div class="mdl-layout-spacer"></div>
        </nav>
    </div>
