<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
<head ng-app="IIITKWebsite">
    <div class="overlay"></div>
    <% include ../layout.ejs %>
    <header>
        <% include header.ejs %>
        <% include sidebar.ejs %>
    </header>
    <title><%= title %></title>

</head>
<body>
<footer>
    <% include footer.ejs %>
</footer>

</body>
</html>