<!-- Created by Sahil Ayank-->
<!-- 30 Jan 2018 -->


<!-- views/partials/aboutus.ejs -->
<!DOCTYPE html>
<html>
<head>
    <% include ../layout.ejs %>
    <header>
        <% include header.ejs %>
    </header>
    <title><%= title %></title>

</head>

<body id="top">
<div class="wrapper bgded overlay" style="background-image:url('/images/background.jpg');">
    <div id="breadcrumb" class="hoc clear">
        <!-- ################################################################################################ -->
        <ul>
            <li><a href="/faculty">People</a></li>
            <li><a href="/btech_students">Btech</a></li>
            <li><a href="/2013">2013</a></li>
        </ul>
        <!-- ################################################################################################ -->
    </div>
</div>




<div id="block-system-main" class="block block-system">


    <div class="content">
        <span property="dc:title" content="B.Tech Students | Current" class="rdf-meta element-hidden"></span><span property="sioc:num_replies" content="0" datatype="xsd:integer" class="rdf-meta element-hidden"></span>


        <div class="content">
            <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded">
                        <style type="text/css">*{text-align:justify}
                        </style>
                        <div style="width:100%">
                            <div id="sidelinks">
                                <p><a class="activee" href="/2013">B.Tech 2013</a></p>
                            </div>
                        </div>
                        <style type="text/css">.table-container{width:400px;margin:15px}
                            @media screen and (max-width:200px)
                            {
                                .table-container{width:400px;}
                            }
                            .table-container table td{
                                text-transform:capitalize;
                            }

                        </style>
                        <div style="display:block;text-align:center;">
                            <div class="table-container" style="display:inline-block;vertical-align:top">
                                <table border="1" cellpadding="2" cellspacing="1" class="table-style">
                                    <tbody>
                                    <tr>
                                        <td colspan="2" style="text-align:center;background:#e6e6e6"><strong>CSE</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="background:#eee">S.No.</td>
                                        <td style="background:#eee">&nbsp; &nbsp;&nbsp;Student Name &nbsp; &nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>2013KUCP1001</td>
                                        <td>SHIVNI GARG</td>
                                    </tr>
                                    <tr>
                                        <td>2013KUCP1002</td>
                                        <td>RAJAT KUMAR JAIN</td>
                                    </tr>
                                    <tr>
                                        <td>2013KUCP1003</td>
                                        <td>PRIYA SHARMA</td>
                                    </tr>
                                    <tr>
                                        <td>2013KUCP1004</td>
                                        <td>RAHUL YADAV</td>
                                    </tr>
                                    <tr>
                                        <td>2013KUCP1005</td>
                                        <td>RAHUL CHAUDHARY</td>
                                    </tr>
                                    <tr>
                                        <td>2013KUCP1006</td>
                                        <td>ANKIT</td>
                                    </tr>
                                    <tr>
                                        <td>2013KUCP1007</td>
                                        <td>RAKESH PANKAJ</td>
                                    </tr>
                                    <tr>
                                        <td>2013KUCP1008</td>
                                        <td> ANSHULA BISHT</td>
                                    </tr>
                                    <tr>
                                        <td>2013KUCP1009</td>
                                        <td>SATTAR MOHAMMAD</td>
                                    </tr>
                                    <tr>
                                        <td>2013KUCP1010</td>
                                        <td>DIXIT CHAUHAN</td>
                                    </tr>
                                    <tr>
                                        <td>2013KUCP1011</td>
                                        <td>SUMIT KUMAR SAGAR</td>
                                    </tr>
                                    <tr>
                                        <td>2013KUCP1012</td>
                                        <td>ARUSHI GUPTA</td>
                                    </tr>
                                    <tr>
                                        <td>2013KUCP1013</td>
                                        <td>SHYAM SUNDER</td>
                                    </tr>
                                    <tr>
                                        <td>2013KUCP1014</td>
                                        <td>DILIP KASHYAP</td>
                                    </tr>
                                    <tr>
                                        <td>2013KUCP1016</td>
                                        <td>MANISH KUMAR NAWAL</td>
                                    </tr>
                                    <tr>
                                        <td>2013KUCP1017</td>
                                        <td>ASHA RAM MEENA</td>
                                    </tr>
                                    <tr>
                                        <td>2013KUCP1019</td>
                                        <td>MANISHA GHUGHARWAL</td>
                                    </tr>
                                    <tr>
                                        <td>2013KUCP1020</td>
                                        <td>ANITA GADDHWAL</td>
                                    </tr>
                                    <tr>
                                        <td>2013KUCP1021</td>
                                        <td>JOEY JOE PINTO</td>
                                    </tr>
                                    <tr>
                                        <td>2013KUCP1022</td>
                                        <td>ABHISHEK MIMANI</td>
                                    </tr>
                                    <tr>
                                        <td>2013KUCP1023</td>
                                        <td>HIMANSHU GOYAL</td>
                                    </tr>
                                    <tr>
                                        <td>2013KUCP1024</td>
                                        <td>TULSI GODARA</td>
                                    </tr>
                                    <tr>
                                        <td>2013KUCP1025</td>
                                        <td>DEEPANSHU BHATEJA</td>
                                    </tr>
                                    <tr>
                                        <td>2013KUCP1026</td>
                                        <td>RAMTEKE SHANTANU YUWRAJ</td>
                                    </tr>
                                    <tr>
                                        <td>2013KUCP1027</td>
                                        <td>MEGHA GUPTA</td>
                                    </tr>
                                    <tr>
                                        <td>2013KUCP1029</td>
                                        <td>YASH SACHDEVA</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <footer>
                                <% include footer.ejs %>
                            </footer>


</body>


</html>