<!-- Created by Sahil Ayank-->
<!-- 30 Jan 2018 -->


<!-- views/partials/aboutus.ejs -->
<!DOCTYPE html>
<html>
<head>
    <% include ../layout.ejs %>
    <header>
        <% include header.ejs %>
    </header>
    <title><%= title %></title>

</head>

<body id="top">
<div class="wrapper bgded overlay" style="background-image:url('/images/background.jpg');">
    <div id="breadcrumb" class="hoc clear">
        <!-- ################################################################################################ -->
        <ul>
            <li><a href="/faculty">People</a></li>
            <li><a href="/btech_students">Btech</a></li>

        </ul>
        <!-- ################################################################################################ -->
    </div>
</div>




<div id="block-system-main" class="block block-system">


    <div class="content">
        <span property="dc:title" content="B.Tech Students | Current" class="rdf-meta element-hidden"></span><span property="sioc:num_replies" content="0" datatype="xsd:integer" class="rdf-meta element-hidden"></span>


        <div class="content">
            <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded">
                        <style type="text/css">*{text-align:justify}
                        </style>
                        <div style="width:100%">
                            <div id="sidelinks">
                                <p><a class="activee" href="/2017">B.Tech 2017</a></p>
                                <p><a href="/2016">B.Tech 2016</a></p>
                                <p><a href="/2015">B.Tech 2015</a></p>
                                <p><a href="/2014">B.Tech 2014</a></p>
                            </div>
                        </div>
                        <style type="text/css">.table-container{width:375px;margin:15px}
                            @media screen and (max-width:400px)
                            {
                                .table-container{width:200px;}
                            }
                            .table-container table td{
                                text-transform:capitalize;
                            }
                        </style>
                        <div style="display:block;text-align:center;">
                            <div class="table-container" style="display:inline-block;vertical-align:top">
                                <table border="1" cellpadding="1" cellspacing="1" class="table-style">
                                    <tbody>
                                    <tr>
                                        <td colspan="2" style="text-align:center;background:#e6e6e6"><strong>CSE</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="background:#eee">S.No.</td>
                                        <td style="background:#eee">&nbsp; &nbsp;&nbsp;Student Name &nbsp; &nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>2017KUCP1001</td>
                                        <td>AATISH CHAUHAN</td>
                                    </tr>
                                    <tr>
                                        <td>2017KUCP1002</td>
                                        <td>AAYUSH GUPTA</td>
                                    </tr>
                                    <tr>
                                        <td>2017KUCP1003</td>
                                        <td>ABHIMANYU LAKRA</td>
                                    </tr>
                                    <tr>
                                        <td>2017KUCP1004</td>
                                        <td>ABHISHEK GAUTAM</td>
                                    </tr>
                                    <tr>
                                        <td>2017KUCP1005</td>
                                        <td>ABHISHEK GUPTA</td>
                                    </tr>
                                    <tr>
                                        <td>2017KUCP1006</td>
                                        <td>Abhishek Tanwar</td>
                                    </tr>
                                    <tr>
                                        <td>2017KUCP1007</td>
                                        <td>ABHISHRUT KHANNA</td>
                                    </tr>
                                    <tr>
                                        <td>2017KUCP1008</td>
                                        <td>ABHIVANDAN PANDEY</td>
                                    </tr>
                                    <tr>
                                        <td>2017KUCP1009</td>
                                        <td>ADITYA BHADOO</td>
                                    </tr>
                                    <tr>
                                        <td>2017KUCP1010</td>
                                        <td>ADITYA VERMA</td>
                                    </tr>
                                    <tr>
                                        <td>2017KUCP1011</td>
                                        <td>AGNEL AARON</td>
                                    </tr>
                                    <tr>
                                        <td>2017KUCP1012</td>
                                        <td>AISHWARYA KUMAR</td>
                                    </tr>
                                    <tr>
                                        <td>2017KUCP1013</td>
                                        <td>AJEET KUMAR</td>
                                    </tr>
                                    <tr>
                                        <td>2017KUCP1014</td>
                                        <td>AKASH SINGH</td>
                                    </tr>
                                    <tr>
                                        <td>2017KUCP1015</td>
                                        <td>AKSHAT GUPTA</td>
                                    </tr>
                                    <tr>
                                        <td>2017KUCP1016</td>
                                        <td>AKSHIT PAL SINGH</td>
                                    </tr>
                                    <tr>
                                        <td>2017KUCP1017</td>
                                        <td>AKSHIT SRIVASTAVA</td>
                                    </tr>
                                    <tr>
                                        <td>2017KUCP1018</td>
                                        <td>AMAN MEHRA</td>
                                    </tr>
                                    <tr>
                                        <td>2017KUCP1019</td>
                                        <td>AMIT KUMAR</td>
                                    </tr>
                                    <tr>
                                        <td>2017KUCP1020</td>
                                        <td>AMOGH GULATI</td>
                                    </tr>
                                    <tr>
                                        <td>2017KUCP1021</td>
                                        <td>ANANYA BHATIA</td>
                                    </tr>
                                    <tr>
                                        <td>2017KUCP1022</td>
                                        <td>ANJANAY KIRTI GOUR</td>
                                    </tr>
                                    <tr>
                                        <td>2017KUCP1023</td>
                                        <td>ANKIT CHAUDHARY</td>
                                    </tr>
                                    <tr>
                                        <td>2017KUCP1024</td>
                                        <td>ANKITA SETHI</td>
                                    </tr>
                                    <tr>
                                        <td>25</td>
                                        <td>ANSHUL GAUTAM</td>
                                    </tr>
                                    <tr>
                                        <td>26</td>
                                        <td>ANSHUMAN SINGH</td>
                                    </tr>
                                    <tr>
                                        <td>27</td>
                                        <td>ANUJ VERMA</td>
                                    </tr>
                                    <tr>
                                        <td>28</td>
                                        <td>APOORV SINGH</td>
                                    </tr>
                                    <tr>
                                        <td>29</td>
                                        <td>APURV PATANI</td>
                                    </tr>
                                    <tr>
                                        <td>30</td>
                                        <td>ARCHIT SINGH</td>
                                    </tr>
                                    <tr>
                                        <td>31</td>
                                        <td>ARUSHI GUPTA</td>
                                    </tr>
                                    <tr>
                                        <td>32</td>
                                        <td>ATIEVE WADHWA</td>
                                    </tr>
                                    <tr>
                                        <td>33</td>
                                        <td>ATUL</td>
                                    </tr>
                                    <tr>
                                        <td>34</td>
                                        <td>AYUSH KUSHWAHA</td>
                                    </tr>
                                    <tr>
                                        <td>35</td>
                                        <td>Ayush Shrivastava</td>
                                    </tr>
                                    <tr>
                                        <td>36</td>
                                        <td>AYUSH YADAV</td>
                                    </tr>
                                    <tr>
                                        <td>37</td>
                                        <td>BHARATH KUMAR THULASIDOSS</td>
                                    </tr>
                                    <tr>
                                        <td>38</td>
                                        <td>BHAVIKA RANA</td>
                                    </tr>
                                    <tr>
                                        <td>39</td>
                                        <td>BHAVYA SRIVASTAVA</td>
                                    </tr>
                                    <tr>
                                        <td>40</td>
                                        <td>BHAVYE ANAND GUPTA</td>
                                    </tr>
                                    <tr>
                                        <td>41</td>
                                        <td>Bhrigu Sharma</td>
                                    </tr>
                                    <tr>
                                        <td>42</td>
                                        <td>BHUPESH SINGH KAINTH</td>
                                    </tr>
                                    <tr>
                                        <td>43</td>
                                        <td>CHIRAG JAIN</td>
                                    </tr>
                                    <tr>
                                        <td>44</td>
                                        <td>DEEPAK NIGAM</td>
                                    </tr>
                                    <tr>
                                        <td>45</td>
                                        <td>DEEPALI CHAWLA</td>
                                    </tr>
                                    <tr>
                                        <td>46</td>
                                        <td>DHEERAJ</td>
                                    </tr>
                                    <tr>
                                        <td>47</td>
                                        <td>DHRUV ARORA</td>
                                    </tr>
                                    <tr>
                                        <td>48</td>
                                        <td>DHRUV VERMA</td>
                                    </tr>
                                    <tr>
                                        <td>49</td>
                                        <td>DIVYA BAWEJA</td>
                                    </tr>
                                    <tr>
                                        <td>50</td>
                                        <td>DIVYANSHU KUMAR SINGH</td>
                                    </tr>
                                    <tr>
                                        <td>51</td>
                                        <td>FAHAD NAYYAR</td>
                                    </tr>
                                    <tr>
                                        <td>52</td>
                                        <td>GAURAV NUTI</td>
                                    </tr>
                                    <tr>
                                        <td>53</td>
                                        <td>GURPREET SINGH DHILLON</td>
                                    </tr>
                                    <tr>
                                        <td>54</td>
                                        <td>HARSH ANAND</td>
                                    </tr>
                                    <tr>
                                        <td>55</td>
                                        <td>HARSHIT</td>
                                    </tr>
                                    <tr>
                                        <td>56</td>
                                        <td>ISHA GOEL</td>
                                    </tr>
                                    <tr>
                                        <td>57</td>
                                        <td>ISHANI</td>
                                    </tr>
                                    <tr>
                                        <td>58</td>
                                        <td>JAYANT TANWAR</td>
                                    </tr>
                                    <tr>
                                        <td>59</td>
                                        <td>KAMAL YADAV</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="table-container" style="display:inline-block;vertical-align:top">
                                <table border="1" cellpadding="1" cellspacing="1" class="table-style">
                                    <tbody>
                                    <tr>
                                        <td colspan="2" style="text-align:center;background:#e6e6e6"><strong>ECE</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="background:#eee">S.No.</td>
                                        <td style="background:#eee">&nbsp; &nbsp;&nbsp;Student Name &nbsp; &nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>2017KUEC1001</td>
                                        <td>BHUPESH SONI</td>
                                    </tr>
                                    <tr>
                                        <td>2017KUEC1002</td>
                                        <td>UTKARSH KUMAR RAI</td>
                                    </tr>
                                    <tr>
                                        <td>2017KUEC1003</td>
                                        <td>NILESH KUMAR RAI</td>
                                    </tr>
                                    <tr>
                                        <td>2017KUEC1004</td>
                                        <td>HAPPY SINGH</td>
                                    </tr>
                                    <tr>
                                        <td>2017KUEC1005</td>
                                        <td>RAJEEV BHARTI</td>
                                    </tr>
                                    <tr>
                                        <td>2017KUEC1006</td>
                                        <td>RAVI APOORVA</td>
                                    </tr>
                                    <tr>
                                        <td>2017KUEC1007</td>
                                        <td>ANKIT KUMAR SHARMA</td>
                                    </tr>
                                    <tr>
                                        <td>2017KUEC1008</td>
                                        <td>DINESH KUMAR PANWAR</td>
                                    </tr>
                                    <tr>
                                        <td>2017KUEC1009</td>
                                        <td>DEEPENDRA NYATI</td>
                                    </tr>
                                    <tr>
                                        <td>2017KUEC1010</td>
                                        <td>SANJEEV KUMAR</td>
                                    </tr>
                                    <tr>
                                        <td>2017KUEC1011</td>
                                        <td>SHRIKANT KUMAR</td>
                                    </tr>
                                    <tr>
                                        <td>2017KUEC1012</td>
                                        <td>DUSHYANT BHARADWAJ</td>
                                    </tr>
                                    <tr>
                                        <td>2017KUEC1013</td>
                                        <td>VAIBHAV KUSHWAHA</td>
                                    </tr>
                                    <tr>
                                        <td>2017KUEC1016</td>
                                        <td>NILESH MEENA</td>
                                    </tr>
                                    <tr>
                                        <td>2017KUEC1017</td>
                                        <td>YASHASH JAIN</td>
                                    </tr>
                                    <tr>
                                        <td>2017KUEC1018</td>
                                        <td>DEEPAK GUPTA</td>
                                    </tr>
                                    <tr>
                                        <td>2017KUEC1019</td>
                                        <td>ANKIT KUMAR SINGH</td>
                                    </tr>
                                    <tr>
                                        <td>2017KUEC1020</td>
                                        <td>SAURAV CHAWLA</td>
                                    </tr>
                                    <tr>
                                        <td>2017KUEC1021</td>
                                        <td>DEVENDRA KUMAR MEENA</td>
                                    </tr>
                                    <tr>
                                        <td>2017KUEC1023</td>
                                        <td>VINAY KANT SAHU</td>
                                    </tr>
                                    <tr>
                                        <td>2017KUEC1024</td>
                                        <td>SIDDHANT JAIN</td>
                                    </tr>
                                    <tr>
                                        <td>2017KUEC1025</td>
                                        <td>ANNANT JAIN</td>
                                    </tr>
                                    <tr>
                                        <td>2017KUEC1026</td>
                                        <td>AKARTH GUPTA</td>
                                    </tr>
                                    <tr>
                                        <td>2017KUEC1027</td>
                                        <td>ROHIT BHASKAR RAO GURIJALA</td>
                                    </tr>
                                    <tr>
                                        <td>2017KUEC1028</td>
                                        <td>BABBAL MEENA</td>
                                    </tr>
                                    <tr>
                                        <td>2017KUEC1029</td>
                                        <td>KRITI JAIN</td>
                                    </tr>
                                    <tr>
                                        <td>2017KUEC1031</td>
                                        <td>ANKIT GOYAL</td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>

                            <footer>
                                <% include footer.ejs %>
                            </footer>


</body>


</html>