<!-- Created by Sahil Ayank-->
<!-- 30 Jan 2018 -->


<!-- views/partials/aboutus.ejs -->
<!DOCTYPE html>
<html>
<head>
    <% include ../layout.ejs %>
    <header>
        <% include header.ejs %>
    </header>
    <title><%= title %></title>

</head>

<body id="top">
<div class="wrapper bgded overlay" style="background-image:url('/images/background.jpg');">
    <div id="breadcrumb" class="hoc clear">
        <!-- ################################################################################################ -->
        <ul>
            <li><a href="/faculty">People</a></li>
            <li><a href="/btech_students">Btech</a></li>
            <li><a href="/2015">2015</a></li>

        </ul>
        <!-- ################################################################################################ -->
    </div>
</div>




<div class="wrapper row3">
    <main class="hoc container clear">

    <div class="content">
        <span property="dc:title" content="B.Tech Students | Current" class="rdf-meta element-hidden"></span><span property="sioc:num_replies" content="0" datatype="xsd:integer" class="rdf-meta element-hidden"></span>


        <div class="content">
            <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded">
                        <style type="text/css">*{text-align:justify}
                        </style>
                        <div style="margin-top:-40px;width:100%">
                            <div id="sidelinks">
                                <p><a href="/2017">B.Tech 2017</a></p>
                                <p><a href="/2016">B.Tech 2016</a></p>
                                <p><a class="activee" href="/2015">B.Tech 2015</a></p>
                                <p><a href="/2014">B.Tech 2014</a></p>
                            </div>
                        </div>
                        <style type="text/css">.table-container{width:375px;margin:15px}
                            @media screen and (max-width:400px)
                            {
                                .table-container{width:200px;}
                            }
                            .table-container table td{
                                text-transform:capitalize;
                            }
                        </style>
                        <div style="display:block;text-align:center;">
                            <div class="table-container" style="display:inline-block;vertical-align:top">
                                <table border="1" cellpadding="1" cellspacing="1" class="table-style">
                                    <tbody>
                                    <tr>
                                        <td colspan="2" style="text-align:center;background:#e6e6e6"><strong>CSE</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="background:#eee">S.No.</td>
                                        <td style="background:#eee">&nbsp; &nbsp;&nbsp;Student Name &nbsp; &nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>2015KUCP1002</td>
                                        <td>ARUNABH PANDEY
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2015KUCP1003</td>
                                        <td>MEGHA GARG</td>
                                    </tr>
                                    <tr>
                                        <td>2015KUCP1004</td>
                                        <td>NILESH AGARWAL</td>
                                    </tr>
                                    <tr>
                                        <td>2015KUCP1005</td>
                                        <td>HIMANI RATHI</td>
                                    </tr>
                                    <tr>
                                        <td>2015KUCP1006</td>
                                        <td>ANITA YADAV</td>
                                    </tr>
                                    <tr>
                                        <td>2015KUCP1008</td>
                                        <td>ABHISHEK YADAV</td>
                                    </tr>
                                    <tr>
                                        <td>2015KUCP1010</td>
                                        <td>VINITA KUMARI</td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                            <div class="table-container" style="display:inline-block;vertical-align:top">
                                <table border="1" cellpadding="1" cellspacing="1" class="table-style">
                                    <tbody>
                                    <tr>
                                        <td colspan="2" style="text-align:center;background:#e6e6e6"><strong>ECE</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="background:#eee">S.No.</td>
                                        <td style="background:#eee">&nbsp; &nbsp;&nbsp;Student Name &nbsp; &nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>2015KUEC1001</td>
                                        <td>BHUPESH SONI</td>
                                    </tr>
                                    <tr>
                                        <td>2015KUEC1002</td>
                                        <td>UTKARSH KUMAR RAI</td>
                                    </tr>
                                    <tr>
                                        <td>2015KUEC1003</td>
                                        <td>NILESH KUMAR RAI</td>
                                    </tr>
                                    <tr>
                                        <td>2015KUEC1004</td>
                                        <td>HAPPY SINGH</td>
                                    </tr>
                                    <tr>
                                        <td>2015KUEC1005</td>
                                        <td>RAJEEV BHARTI</td>
                                    </tr>
                                    <tr>
                                        <td>2015KUEC1006</td>
                                        <td>RAVI APOORVA</td>
                                    </tr>
                                    <tr>
                                        <td>2015KUEC1007</td>
                                        <td>ANKIT KUMAR SHARMA</td>
                                    </tr>
                                    <tr>
                                        <td>2015KUEC1008</td>
                                        <td>DINESH KUMAR PANWAR</td>
                                    </tr>
                                    <tr>
                                        <td>2015KUEC1009</td>
                                        <td>DEEPENDRA NYATI</td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</main>
</div>

<footer>
    <% include footer.ejs %>
</footer>


</body>


</html>