<!DOCTYPE html>
<html>
<head>
    <% include ../layout.ejs %>
    <header>
        <% include header.ejs %>
    </header>
    <title><%= title %></title>

</head>

<body id="top">
<div class="wrapper bgded overlay" style="background-image:url('/images/background.jpg');">
    <div id="breadcrumb" class="hoc clear">
        <!-- ################################################################################################ -->
        <ul>
            <li><a href="/">Facilities & Services</a></li>
            <li><a href="/computerlab">Computer Labs</a></li>

        </ul>
        <!-- ################################################################################################ -->
    </div>
</div>

<div class="wrapper row3">
    <main class="hoc container clear">
        <h1 class="page-title" style="margin-top:-25px;">Computer Labs</h1>
        <br><br>
        <div class="content">
            <span property="dc:title" content="Computer Labs"></span><span property="sioc:num_replies" content="0" datatype="xsd:integer" class="rdf-meta element-hidden"></span>


            <div class="content">
                <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><div style="font-family: kohinoor;"><meta charset="utf-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /></div>
                            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" /><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script><script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
                            <div style="text-align: center; margin-bottom: 20px;"><img src="http://iiitd.ac.in/sites/default/files/images/labs/computer-lab.jpg" /></div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-3 well" style="background-color:#d12e57; text-align: center;">
                                        <h4><strong style="color: #333; font-weight: 500;">Current Semester Courses</strong></h4>
                                        <ul style="text-align: left;&lt;br /&gt;&#10;    color: #fff;&lt;br /&gt;&#10;    font-weight: 300;"><li>Computer Organization</li>
                                            <li>Data Structures &amp; Algorithms</li>
                                            <li>Algorithm Design &amp; Analysis</li>
                                            <li>Digital and Cyber Forensics</li>
                                            <li>Animation and Graphics</li>
                                            <li>GPU Computing</li>
                                            <li>Operating System</li>
                                        </ul></div>
                                    <div class="col-sm-7">
                                        <p class="text-justify">Three state of the art computer labs, meant for undergraduate teaching, house a total of 120 desktops (40 per lab). These desktops in the labs, which are situated in the Library and Information Center, run on 100 KVA UPS supply that is available 24x7. All the desktops in the computer labs are connected with 1 Gbps Internet from NKN and also have a backup connection of 100 Mbps running in failover mode. Wireless network too has been enabled in parallel to serve these labs.<br />
                                            All lab machines are dual-boot with Linux and Windows 64 bit operating systems. These systems are equipped with almost all general purpose computing software. These labs are designed to be used by faculty for teaching and by students to carry out their project work. Besides, students may use these labs for Internet surfing, mailing and other related activities.<br />
                                            The department offers domain based authentication to provide secure access to all its online services. To use these services, some standard guidelines are followed which can be found in this document.</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h4 class="well well-sm" style="background-color: #d12e57;">List of Software Installed in the Workstations of Computer Labs</h4>
                                        <div class="col-sm-6">
                                            <ul><li>MATLAB</li>
                                                <li>Eclipse</li>
                                                <li>Visual Studio 10</li>
                                                <li>AutoCAD 2014</li>
                                                <li>Xilinx</li>
                                                <li>Adobe Illustrator</li>
                                            </ul></div>
                                        <div class="col-sm-6">
                                            <ul><li>C++</li>
                                                <li>JAVA</li>
                                                <li>Netbeans</li>
                                                <li>Python</li>
                                                <li>Adobe Reader</li>
                                                <li>Winzip</li>
                                            </ul></div>
                                        <p>Other software can also be installed on request. A detailed list of all the software available at the institute can be accessed <u><strong><a href="http://it.iiitd.edu.in/List%20of%20software%20purchased%20%20software.htm">here</a></strong></u>.</p>
                                        <p>These labs are also used to provide facilities for the institute events like online exams ,technical events and other important happenings.</p>
                                    </div>
                                    <div class="col-sm-4">
                                        <h4 class="well well-sm" style="background-color: #d;">Undergraduate Courses</h4>
                                        <ul><li>Data Structures and Algorithms</li>
                                            <li>Computer Organization</li>
                                            <li>Algorithm Design and Analysis</li>
                                            <li>Animation and Graphics</li>
                                            <li>System Management</li>
                                        </ul></div>
                                </div>

                                <div class="col-sm-10" style="background: #eee;">
                                    <img src="/images/comp_lab.jpg" style="size: cover">
                                    <!--<div class="row">-->
                                        <!--<div class="col-sm-2 col-sm-offset-1"><img src="http://iiitd.ac.in/sites/default/files/images/labs/ubuntu-logo-8647_640.png" style="height: 100px;" /></div>-->
                                        <!--<div class="col-sm-2"><img src="http://iiitd.ac.in/sites/default/files/images/labs/autocad-2014_1.jpg" /></div>-->
                                        <!--<div class="col-sm-2"><img src="http://iiitd.ac.in/sites/default/files/images/labs/eclipse-800x426.png" /></div>-->
                                        <!--<div class="col-sm-2"><img src="http://iiitd.ac.in/sites/default/files/images/labs/Microsoft_Visual_Studio_2010_Logo.png" /></div>-->
                                        <!--<div class="col-sm-2"><img src="http://iiitd.ac.in/sites/default/files/images/labs/Matlab_Logo.png" /></div>-->
                                    <!--</div>-->
                                    <!--<div class="row">-->
                                        <!--<div class="col-sm-2 col-sm-offset-3"><img height="500px" src="http://iiitd.ac.in/sites/default/files/images/labs/cplusplus.gif" /></div>-->
                                        <!--<div class="col-sm-2 col-sm-offset-1"><img height="500px" src="http://iiitd.ac.in/sites/default/files/images/labs/Java.jpg" /></div>-->
                                    <!--</div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<footer>
    <% include footer.ejs %>
</footer>

</body>

</html>