<!DOCTYPE html>
<html>
<head>
    <% include ../layout.ejs %>
    <header>
        <% include header.ejs %>
    </header>
    <title><%= title %></title>

</head>

<body id="top">
<div class="wrapper bgded overlay" style="background-image:url('/images/background.jpg');">
    <div id="breadcrumb" class="hoc clear">
        <!-- ################################################################################################ -->
        <ul>
            <li><a href="/">Academics</a></li>
            <li><a href="/courses">Courses</a></li>

        </ul>
        <!-- ################################################################################################ -->
    </div>
</div>


<footer>
    <% include footer.ejs %>
</footer>

</body>
</html>