<!DOCTYPE html>
<html>
<head>
    <% include ../layout.ejs %>
    <header>
        <% include header.ejs %>
    </header>
    <title><%= title %></title>

</head>

<body id="top">
<div class="wrapper bgded overlay" style="background-image:url('/images/background.jpg');">
    <div id="breadcrumb" class="hoc clear">
        <!-- ################################################################################################ -->
        <ul>
            <li><a href="/">Student Affairs</a></li>
            <li><a href="/discipline">Rules and Disciplines</a></li>

        </ul>
        <!-- ################################################################################################ -->
    </div>
</div>

<div class="wrapper row3">
    <main class="hoc container clear">
        <h1 style = "color:#06F;font-size:30px;margin-top:-50px;">Rules and Disciplines</h1>
        <div class="content">
            <h1 style ="color:black">Student's Code of Conduct</h1>
            <p>Student Code of Conduct sets out the standards of conduct expected of students. It holds individuals and groups responsible for consequences of their actions. The code of Conduct reflects a concern for these values and tries to ensure that members of IIIT Kota and the public can make use of and enjoy the activities, facilities and benefits of the University without undue interference from others.</p>
            <p>Prohibited Conduct under the Code includes:</p>
            <ul>
                <li>Assaulting, harassing, intimidating, or threatening another individual or group</li>
                <li>Endangering the health or safety of others</li>
                <li>Disrupting University Activities</li>
                <li>Stealing, misusing, destroying, defacing or damaging University property or property belonging to someone else</li>
                <li>Using college facilities, equipments & services without authorization</li>
                <li>Making false accusations against any member of the University</li>
                <li>Using, processing or distributing illegal drugs</li>
                <li>Violating provincial liquor laws or College alcohol policies</li>
                <li>Hazing</li>
                <li>Failing to comply with a disciplinary measure or disciplinary measures imposed under the procedures of this Code</li>
            </ul>
            <br>
            <h1 style ="color:black">Disciplinary Measures</h1>
            <p>Disciplinary measures/actions that may be imposed under the Code includes:</p>
            <ul>
                <li>Written warning or reprimand</li>
                <li>Probation, during which certain conditions must be fulfilled and good behaviour must be demonstrated</li>
                <li>Payment of costs or compensation for any loss, damage or injury caused by the conduct</li>
                <li>Issuance of an apology, made publicly or privately</li>
                <li>Loss of certain privileges</li>
                <li>Fines or loss of fees</li>
                <li>Relocation or exclusion from residence</li>
                <li>Suspension</li>
                <li>Expulsion</li>
            </ul>
            <br>
            <h1 style ="color:black">Anti Ragging Committee</h1>
            <p>Ragging is a crime which destroys the physical and emotional confidence and it led to an increase in suicide activities.According to the directions of the Supreme Court if any instance of ragging is brought to the notice of the administration or the faculty, it is legally binding on the institute to report the matter to the Local Police.</p>
        </div>
    </main>
</div>

<footer>
    <% include footer.ejs %>
</footer>

</body>
</html>