<!DOCTYPE html>
<html>
<head>
    <% include ../layout.ejs %>
    <header>
        <% include header.ejs %>
    </header>
    <title><%= title %></title>

</head>

<body id="top">
<div class="wrapper bgded overlay" style="background-image:url('/images/background.jpg');">
    <div id="breadcrumb" class="hoc clear">
        <!-- ################################################################################################ -->
        <ul>
            <li><a href="/">Student Affairs</a></li>
            <li><a href="/events">Institute Events</a></li>

        </ul>
        <!-- ################################################################################################ -->
    </div>
</div>

<div class="wrapper row3">
    <main class="hoc container clear">
        <h1 style = "color:#06F;font-size:30px;margin-top:-50px;">Institute Events</h1>
        <div class="content" style="display:inline-block;">
            <div class="row" style="margin-bottom: 50px">
                <div class="col-sm-6" style="height:250px;overflow:auto;">
                    <h4>Centenary Birth Celebration of Pt Deendayal Upadhyay Ji</h4>
                    <p><a href="#">Report</a></p>
                </div>
                <div class="col-sm-6" style="height:250px;overflow:auto;">
                    <h4>Yoga Day at IIIT Kota</h4>
                    <p>IIIT Kota celebrated International Yoga Day on June 21, 2017 in MNIT Jaipur Campus. Different Asanas and Pranayams were practiced by participants. How to avoid stress in present day circumstances and stress management in general were discussed.</p>
                    <p><a href="#">Yoga Day 2017 Report</a></p>
                </div>
            </div>
            <br>
            <div class="row" style="margin-bottom: 50px">
                <div class="col-sm-6" style="height:250px;overflow:auto;">
                    <h4>IIIT Kernel Lecture-2 on Design Interaction</h4>
                    <p>As part of IIIT Kernel lecture series, Mr Bhargav Mistry mesmerized us with <a href=""#>IIIT Kernel Lecture-2</a>on Design Interation. </p>
                    <p>Topic: Interaction Design – Making products user centric<br>Speaker: Mr. Bhargav Mistry, Design Consultant<br>Venue: Neeti Sabhagaar, 2nd floor, Prabha Bhavan
                        <br>Date: April 16, 2017 (Sunday)<br>Time: 11 A.M. onwards </p>
                </div>
                <div class="col-sm-6" style="height:250px;overflow:auto;">
                    <h4>IIIT Kota celebrated its foundation day</h4>
                    <p>IIIT Kota celebrated its first ever foundation day from March 31 to April 1, 2017. IIIT Kota students participated in various <a href=""#>events</a> over these two days and it was covered by the <a href=""#>press</a> as well. </p>
                    <p>At inauguration function, institute’s mentor director advised students to aim higher in life and to enjoy the events. It was mentioned that IIIT Kota is among the top three institutes of its kind out of fifteen such institutes established under PPP mode. </p>
                </div>
            </div>
            <br>
            <div class="row" style="margin-bottom: 50px">
                <div class="col-sm-6" style="height:250px;overflow:auto;">
                    <h4>IIIT Kernel and inaugural lecture </h4>
                    <p>IIIT Kota launched its technical forum named <a href=""#>‘IIIT Kernel‘</a> on March 11, 2017. Through this forum, the institute plans to make outreach to leaders in the industry as well as academia.</p>
                    <p>Dr. Giriraj Nyati, Chief Operating Officer, Secure Meters Ltd. delivered <a href=""#>inaugural lecture</a> of IIIT Kernel on March 24, 2017 on “Doing business in the today’s environment” at Neeti Sabhagaar, 2nd Floor, Prabha Bhavan. </p>
                </div>
                <div class="col-sm-6" style="height:250px;overflow:auto;">
                    <h4>68th Republic Day Celebration</h4>
                    <p>IIIT Kota celebrated 68th Republic Day with mentor institute MNIT Jaipur. Director Prof. Uday Kumar Yaragatti addressed students, faculty and staff. He motivated students to work for excellence and towards the betterment of the country.</p>
                    <img src="/images/event1.jpg">
                </div>
            </div>
            <br>
            <div class="row" style="margin-bottom: 50px">
                <div class="col-sm-6" style="height:250px;overflow:auto;">
                    <h4>Visitors from France</h4>
                    <p>Dr. Mohamed Mosbah and Dr. Akka Zemari, Professors from <a href=""#>University of Bordeaux</a> visited IIIT Kota in January 2017. Dr. Mosbah provided insight into admissions at French University. Dr. Akka Zemari delivered a lecture on Machine Learning algorithms. </p>
                </div>
                <div class="col-sm-6" style="height:250px;overflow:auto;">
                    <h4>GIAN Course: The Science of Remulation for Executable Biology (Dec 12-16, 2016)</h4>
                    <p>Department of Computer Science and Engineering, MNIT Jaipur organized an International Short Course on “The Science of Remulation for Executable Biology” under GIAN (Global Initiative of Academic Network), an initiative of MHRD, Govt. of India. This course was organized during December 16-20, 2016. This program was also partially supported by IIIT Kota (currently mentored by MNIT Jaipur). </p>
                    <p>Dr. Parthasarathi Roop, Professor at Department of Electrical & Computer Engineering, University of Auckland, New Zealand was the main resource person of the course along with Dr. Avinash Malik and Dr. Sidharta Andalam from the same research group. Dr. Partha and his team illustrated remulation by developing executable, real-time models of the cardiac conduction system of the human heart and illustrate the developed model (Heart on Chip) in hardware as a remulated system for the validation of pacemakers. </p>
                    <p>This course enlightened participants with a range of topics including basic concepts in Real-Time Systems, background on Embedded Systems, Cyber Physical Systems, Formal Methods, Synchronous Approach, Esterel language by examples, Uppaal Model Checker, Pacemaker and Timed Automata, Hybrid Automata, Models of the cardiac conduction system and Remulation-based verification of pacemakers. </p>
                </div>
            </div>
            <br>
            <div class="row" style="margin-bottom: 50px">
                <div class="col-sm-6" style="height:250px;overflow:auto;">
                    <h4>GIAN Course: Mobile Systems Security (Nov 21-25, 2016)</h4>
                    <p>Department of Computer Science and Engineering, MNIT Jaipur organized an International Short Course on Mobile Systems Security under GIAN (Global Initiative of Academic Network), an initiative of MHRD, Govt. of India. This course was organized during November 21 – 25, 2016. This program was also partially supported by IIIT Kota (currently mentored by MNIT Jaipur). </p>
                    <p>Prof. N. Asokan, Professor at Aalto University Helsinki was the main resource person of the course. His primary research interest has been in applying cryptographic techniques to design secure protocols for distributed systems. Recently, he has also been investigating the use of Trusted Computing technologies for securing end nodes, and ways to make secure systems usable, especially in the context of mobile devices. Asokan and his group pioneered early academic research involving trusted execution environments (TEEs) in mobile devices with their work on On-board Credentials. He is a co-inventor of 41 granted patents and in 2013, he was selected for a Google Faculty Research Award for his work on contextual security. </p>
                    <img src="/images/event2.jpg">
                </div>
                <div class="col-sm-6" style="height:250px;overflow:auto;">
                    <h4>Rashtriya Ekta Saptah – Oct 31 to Nov 5, 2016</h4>
                    <p>Nation saluted Sardar Vallabhbhai Patel, in a nation-wide campaign during Rastriya Ekta Saptah observed from Oct 31 to Nov 5.</p>
                    <p>As part of the nation-wide campaign, IIIT Kota conducted Run for Unity (from MNIT Prabha Bhavan to Jawahar Circle) on November 5, 2016 from 6 am onwards. Total 56 students and faculty members participated in the “Run for Unity” event. </p>
                    <p>The institute also organized a Cultural Program to remember sacrifices of our Freedom Fighters at Mini Auditorium, Prabha Bhavan, on Nov 4, 2016. Run for Unity</p>
                    <img src="/images/event3.jpg">
                </div>
            </div>
            <br>
            <div class="row" style="margin-bottom: 50px">
                <div class="col-sm-6" style="height:250px;overflow:auto;">
                    <h4>GIAN Course: Internet: Security And Privacy Challenges (Oct 24-28, 2016)</h4>
                    <p>Department of Computer Science and Engineering, MNIT Jaipur organized an International Short Course on Internet Security and Privacy Challenges under GIAN (Global Initiative of Academic Network), an initiative of MHRD, Govt. of India. This course was organized during October 24 – 28, 2016. This program was also partially supported by IIIT Kota (currently mentored by MNIT Jaipur).</p>
                    <p>Dr. Mauro Conti, Associate Professor, University of Padua, founder of the SPRITZ (Security and Privacy Research Group) and EU Marie Curie Fellow at Department of Mathematics, University of Padua, was the resource person for the program. This course aimed at security and privacy challenges in the Internet. Dr. Conti presented research outcomes of SPRITZ group in this direction.</p>
                    <img src="/images/event4.jpg">
                </div>
                <div class="col-sm-6" style="height:250px;overflow:auto;">
                    <h4>GIAN Course: Managing The Complexity, Security, And Safety Of Large Software (Sept 12-16, 2016)</h4>
                    <p>Department of Computer Science & Engineering at MNIT organized an International Short Course on Managing the Complexity, Security and Safety of Large Software under GIAN (Global Initiative of Academic Network), an initiative of MHRD, Govt. of India. This course was organized during September 12-16, 2016. This program was also partially supported by IIIT Kota (currently mentored by MNIT Jaipur). </p>
                    <p>Professor Suraj Kothari from Iow State University, USA and Ben Holland were main resource persons for this course. This course provided a solid foundation on fundamentals of software that are applicable across all programming languages. With examples of real-world software problems, course elaborated how this fundamental knowledge can be applied using HLA (human-in-loop automation) to cope with software complexity, safety and security. Both visiting faculty gave a thoughtful talk on “Euler and 336 Million Dollars Software Patent”. </p>
                    <img src="/images/event5.jpg">
                </div>
            </div>

        </div>
    </main>
</div>

<footer>
    <% include footer.ejs %>
</footer>

</body>
</html>