<!-- Created by Sahil Ayank-->
<!-- 30 Jan 2018 -->


<!-- views/partials/aboutus.ejs -->
<!DOCTYPE html>
<html>
<head>
    <% include ../layout.ejs %>
    <header>
        <% include header.ejs %>
    </header>
    <title><%= title %></title>

</head>

<body id="top">
<div class="wrapper bgded overlay" style="background-image:url('/images/background.jpg');">
    <div id="breadcrumb" class="hoc clear">
        <!-- ################################################################################################ -->
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/executiveCouncil">Executive Council</a></li>

        </ul>
    </div>
</div>





<div class="wrapper row3">
    <main class="hoc container ">
        <div class="content">
        <h1>Executive Council</h1>
        <div class="scrollable">
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Designation and Organization</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Prof. Uday Kumar Yaragatti, Chairman</td>
                    <td>Director, MNIT Jaipur</td>

                </tr>
                <tr>
                    <td>Shri Manoj Aggarwal</td>
                    <td>Cairn India Ltd</td>

                </tr>
                <tr>
                    <td>Shri Diwakar Singhal</td>
                    <td>Genpact India</td>

                </tr>
                <tr>
                    <td>Shri Rohit Saboo</td>
                    <td>NEI Ltd</td>
                </tr>
                <tr>
                    <td>Shri Dinesh Nandwana</td>
                    <td>Vakrangee Softwares Ltd. </td>
                </tr>


                </tbody>
            </table>
        </div>
        </div>


    </main>
</div>



</body>
<footer>
    <% include footer.ejs %>
</footer>




</html>