<!DOCTYPE html>
<html>
<head>
    <% include ../layout.ejs %>
    <header>
        <% include header.ejs %>
    </header>
    <title><%= title %></title>

</head>

<body id="top">
<div class="wrapper bgded overlay" style="background-image:url('/images/background.jpg');">
    <div id="breadcrumb" class="hoc clear">
        <!-- ################################################################################################ -->
        <ul>
            <li><a href="/">Admission</a></li>
            <li><a href="/fee">Fees</a></li>

        </ul>
        <!-- ################################################################################################ -->
    </div>
</div>
<div class="wrapper row3">
    <main class="hoc container clear">
        <h1 class="page-title">Fee Structure & Registration</h1>
        <div class="entry-content">
            <div class="linkbox" style="width:400px; float:right; background:linear-gradient(to bottom, #29A8CB,#0273AD);padding: 5px;border-color: #d12e57;color: #d12e57;border-radius: 5px;border: 1px dashed black;clear: right;margin: 0 10px;">
                <ul><li><a href="/paymentprocess" style="color:#fff; text-decoration: none;">Payment Process</a></li>
                    <li><a href="/PDF/2017.pdf" style="color:#fff; text-decoration: none;">Fees for 2016-17</a></li>
                    <li><a href="/PDF/2016.pdf" style="color:#fff; text-decoration: none;">Fees for 2015-16</a></li>
                    <li><a href="/PDF/2015.pdf" style="color:#fff; text-decoration: none;">Fees for 2014-15</a></li>
                    <li><a href="/PDF/2014.pdf" style="color:#fff; text-decoration: none;">Fees for 2013-14</a></li>
                </ul></div>
            <p><b>Education Loan Scheme</b></p>
            <p>Students and parents may visit <a href="https://www.vidyalakshmi.co.in/" style=color:#06F>Vidya Laxmi </a> portal for education loan. </p>
            <p>Students can view, apply and track the education loan applications to banks anytime, anywhere by accessing the portal. The portal also provides linkages to National Scholarship Portal. </p>
            <br><hr>
            <p><b>Hostel Fees</b></p>
            <p>Hostel fee for all existing students is 30,000/- per semester as per directive from Mentor Institute. Refer <a href="http://www.iiitkota.ac.in/wp-content/uploads/2017/07/IIITK_HostelFee_Notice.pdf" style=color:#06F>Hostel Fee notice</a>. </p>
            <p>All new students admitted first time to the hostel, should pay 45,000/- through Demand Draft for the first semester. This includes 15,000/- refundable caution money, 20,000/- Mess Advance of one semester and 10,000/- towards Room Rent. </p>
            <p>Note: Any charges levied by banks for fee payments, will be paid by student.</p>
            <p>
            <hr /></p>
            <p><b>Registration</b></p>
            <p>1. All existing B.Tech. students must report to IIIT Kota office for registration from July 17 to July 18, 2017. Course registration form can be obtained from the office. Classes will start from July 19, 2017. </p>
            <p>2. All existing B. Tech. students should pay fees before registration using <a href="https://www.onlinesbi.com/prelogin/icollecthome.htm?corpID=646985" style=color:#06F>State Bank Collect online portal</a>. Select Internet Banking or SBI debit card while paying fee through SBI Collect for lesser charges. Students are advised to retain their receipt generated through State Bank Collect for proof of fee deposited. Do not use cash / direct account transfer mode for fee payment. </p>
            <p>Only those students, having an educational loan, should deposit Demand Draft to SBI MNIT Campus Branch along with SBI Collect online challan (select SBI Branch for payment through DD). Demand Draft, if any, should be drawn in favor of <b>INDIAN INSTITUTE OF INFORMATION TECHNOLOGY KOTA</b>, payable at Jaipur. <b>Any charges levied by banks for fee payments, will be paid by student. </b></p>
            <p><b>Important</b>: Existing students admitted in session 2016-17, should produce fresh <a href="http://www.iiitkota.ac.in/wp-content/uploads/2016/07/Income-Certificate-Disclosure.pdf" style=color:#06F>income certificate</a> for family income from all sources. Income certificate must be signed by the competent authority as prescribed in <a href="http://www.iiitkota.ac.in/wp-content/uploads/2016/07/Valid-Income-Certificate-Authrity-in-India.pdf" style=color:#06F>valid income certificate authority</a> document. Failure to produce this income certificate by registration date, will result in fee payment calculated as per highest fee bracket. </p>
            <p>3. A late fee of 1000/- will be charged if Institute fee for the semester is not paid in full even after two days from registration date. Also, students should obtain written permission from Coordinator, IIIT Kota if institute fee is not paid by July 24, 2017. </p>
            <p>4. All new entrants through CSAB/JoSAA-2017 &#8211; registration will be as per <a href="http://josaa.nic.in/webinfocms/Public/View.aspx?page=72" style=color:#06F>JoSAA schedule </a> &#8211; from July 22 to July 26, 2017. All the admitted students need to report to Office of IIIT Kota, 2nd Floor, Prabha Bhawan, MNIT Jaipur Campus for their course registration. </p>
            <p><a href="http://www.iiitkota.ac.in/wp-content/uploads/2017/07/Documents-Checklist.pdf" style=color:#06F>Document Checklist</a>
            <p><b>Note:</b> First year classes will start from July 27. Contact IIITK office for any query. </p>
            <p>5. All new entrants through CSAB/JoSAA-2017 &#8211; need to pay balance fee as applicable at the time of reporting to IIITK office. We recommend to all new students to bring two separate Demand Drafts one for the balance institute fee payment and another for hostel fee payment. Demand Draft should be drawn in favor of <b>INDIAN INSTITUTE OF INFORMATION TECHNOLOGY KOTA</b>, payable at Jaipur. Please take note of bank holidays to avoid any inconvenience. IIIT Kota office will remain open through July 22 to July 26 including the weekend. </p>
            <p><b><u>Registration schedule</u></b></p>
            <p>a. B. Tech. Final year 8th semester (CSE) Jan 2-3, 2018 – 10:00 am to 4:00 pm.</p>
            <p>b. B. Tech. Third year 6th semester (CSE, ECE) Jan 2-3, 2018 – 10:00 am to 4:00 pm.</p>
            <p>c. B. Tech. Second year 4th semester (CSE, ECE) Jan 2-3, 2018 – 10:00 am to 4:00 pm.</p>
            <p>d. B. Tech. First year 2nd semester (CSE, ECE) – Jan 2-3, 2018 – 10:00 am to 4:00 pm.<br />
                <br />
            <hr /></p>
            <p>Note:- For any queries related to seat allotment, refund of acceptance fee etc. for new entrants, please refer to <a href="http://josaa.nic.in" style="color:#06F;">JoSAA website</a></p>
        </div><!-- .entry-content -->
    <!--<div class="content">-->
            <!--<span property="dc:title" content="Fees (Academic Year​ 2017-2018)" class="rdf-meta element-hidden"></span><span property="sioc:num_replies" content="0" datatype="xsd:integer" class="rdf-meta element-hidden"></span>-->
            <!--<div class="content">-->
    <!--<div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><div style="float:left; width:400px; font-weight:bold;">-->
                    <!--<ul><li><a href="/admission/fees/loan-scheme">SBI Education Loan Scheme</a></li>-->
                        <!--<li><a href="/admission/fees/loan-scheme">PNB Pratibha Education Loan Scheme</a></li>-->
                    <!--</ul></div>-->
    </main>
</div>

<footer>
    <% include footer.ejs %>
</footer>

</body>
</html>