<div class="wrapper row4">
    <footer id="footer" class="hoc clear">
        <!-- ################################################################################################ -->
        <div class="one_third first">
            <h6 class="title">Address</h6>
            <ul class="nospace linklist contact">
                <li><i class="fa fa-map-marker"></i>
                    <address>
                        Indian Institute of Information Technology, Kota,
                        <br>
                        MNIT Campus, Jaipur, 302017
                    </address>
                </li>
                <li><i class="fa fa-phone"></i> +91 9636004841<br>
                    +91 9461841952</li>
                <li><i class="fa fa-fax"></i> +91 2280051</li>
                <li><i class="fa fa-envelope-o"></i>sahilayank91@gmail.com</li>
            </ul>
        </div>
        <div class="one_third second">
            <h6 class="title">Quick Links</h6>
            <ul class="nospace linklist">
                <li><a href="#">Faculty Recruitment</a></li>
                <li><a href="#">Career/Jobs</a></li>
                <li><a href="#">Tender Invitations</a></li>
                <li><a href="#">Facilities</a></li>
                <li><a href="#">Internal Links</a></li>
                <li><a href="#">Webmail</a></li>
                <li><a href="#">Infrastructure Planning and Support</a></li>
            </ul>
        </div>
        <div class="one_third third">
            <h6 class="title">Explore IIITK</h6>
            <ul class="nospace linklist">
                <li><a href="#">Campus Map</a></li>
                <li><a href="#">Photo Gallery</a></li>
                <li><a href="#">Student Events</a></li>
                <li><a href="#">Campus Diary</a></li>

            </ul>
        </div>
        <!-- ################################################################################################ -->
    </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
    <div id="copyright" class="hoc clear">
        <!-- ################################################################################################ -->
        <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved<a href="#"> www.iiitkota.ac.in</a></p>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>