<!DOCTYPE html>
<html>
<head>
    <% include ../layout.ejs %>
    <header>
        <% include header.ejs %>
    </header>
    <title><%= title %></title>

</head>

<body id="top" ng-app="IIITKWebsite">
<div class="wrapper bgded overlay" style="background-image:url('/images/background.jpg');">
    <div id="breadcrumb" class="hoc clear">
        <!-- ################################################################################################ -->
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/latestNews">Photo Gallery</a></li>

        </ul>
        <!-- ################################################################################################ -->
    </div>
</div>

<div class="wrapper row3">
    <main class="hoc container clear">
        <!-- main body -->
        <!-- ################################################################################################ -->
        <div class="content">
            <!-- ################################################################################################ -->
            <div id="gallery">
                <figure>
                    <header class="heading">Gallery Title Goes Here</header>
                    <ul class="nospace clear">
                        <li class="one_quarter first"><a href="#"><img src="/images/" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/demo/gallery/01.png" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/demo/gallery/01.png" alt=""></a></li>
                        <li class="one_quarter first"><a href="#"><img src="../images/demo/gallery/01.png" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/demo/gallery/01.png" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/demo/gallery/01.png" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/demo/gallery/01.png" alt=""></a></li>
                        <li class="one_quarter first"><a href="#"><img src="../images/demo/gallery/01.png" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/demo/gallery/01.png" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/demo/gallery/01.png" alt=""></a></li>
                        <li class="one_quarter"><a href="#"><img src="../images/demo/gallery/01.png" alt=""></a></li>
                    </ul>
                    <figcaption>Gallery Description Goes Here</figcaption>
                </figure>
            </div>
            <!-- ################################################################################################ -->
            <!-- ################################################################################################ -->
            <nav class="pagination">
                <ul>
                    <li><a href="#">&laquo; Previous</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><strong>&hellip;</strong></li>
                    <li><a href="#">6</a></li>
                    <li class="current"><strong>7</strong></li>
                    <li><a href="#">8</a></li>
                    <li><a href="#">9</a></li>
                    <li><strong>&hellip;</strong></li>
                    <li><a href="#">14</a></li>
                    <li><a href="#">15</a></li>
                    <li><a href="#">Next &raquo;</a></li>
                </ul>
            </nav>
            <!-- ################################################################################################ -->
        </div>
        <!-- ################################################################################################ -->
        <!-- / main body -->
        <div class="clear"></div>


        <h1 class="page-title" style="margin-top:-25px; font-size: 40px; margin-bottom:30px;">Latest News</h1>
        <div class="nospace group services">
            <div ng-repeat="news in ord_news">
                <div style="width:inherit">
                    <article style="min-height: 10px;"><a href="#"><i ng-class="news.type"></i></a>
                        <h6 class="heading" style="color: #2d2e38;">{{news.content.title}}</h6>
                        <p>{{news.content.text}}</p>
                        <!--<footer><a href="/latestNews">Read More &raquo;</a></footer>-->
                    </article>
                </div>
            </div>
        </div>
    </main>
</div>

<footer>
    <% include footer.ejs %>
</footer>

</body>
</html>