<!-- Created by Sahil Ayank-->
<!-- 30 Jan 2018 -->


<!-- views/partials/aboutus.ejs -->
<!DOCTYPE html>
<html>
<head>
    <% include ../layout.ejs %>
    <header>
        <% include header.ejs %>
    </header>
    <title><%= title %></title>

</head>

<body id="top">
<div class="wrapper bgded overlay" style="background-image:url('/images/background.jpg');">
    <div id="breadcrumb" class="hoc clear">
        <!-- ################################################################################################ -->
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/generalCouncil">General Council</a></li>

        </ul>
        <!-- ################################################################################################ -->
    </div>
</div>





<div class="wrapper row3">
    <main class="hoc container clear">
        <!-- main body -->
        <!-- ################################################################################################ -->
        <div class="content">
            <!-- ################################################################################################ -->
            <h1>About Us</h1>
            <img class="imgr borderedbox inspace-5" src="/images/fulllogo_t.gif" alt="">
            <p>Indian Institute of Information Technology Kota is a joint venture of the Ministry of Human Resource Development, Government of India, Rajasthan Government with Industries in Public-Private Partnership model.

                <br><br>IIIT Kota admitted the first batch of students in July 2013 and the first batch of 26 students of CSE graduated in May 2017. Institute will have more than 300 students by July 2017. </p>
        </div>
<br><br>
        <h1>Governing Body</h1>
        <div class="scrollable">
            <table>
                <thead>
                <tr>
                    <th>Name and Address</th>
                    <th>Designation</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>

                       Chief Secretary, Govt. of Rajasthan, Secretariat, Jaipur
                  </td>
                    <td>Chairperson</td>

                </tr>
                <tr>
                    <td>Addl. Secretary, Tech. Edn., MHRD, Shastri Bhawan, New Delhi</td>
                    <td>Member</td>

                </tr>
                <tr>
                    <td>Financial Advisor, MHRD, Shastri Bhawan, New Delhi</td>
                    <td>Member</td>

                </tr>
                <tr>
                    <td>Director, MHRD, Shastri Bhawan, New Delhi</td>
                    <td>Member</td>

                </tr>
                <tr>
                    <td>Prof. Uday Kumar Yaragatti, Director, MNIT, Jaipur</td>
                    <td>Member</td>
                </tr>
                <tr>
                    <td>Prof. Madhusudan Sharma, Vice Chancellor, Kota University, Kota, Rajasthan</td>
                    <td>Member</td>
                </tr>
                <tr>
                    <td>Shri Rohit Saboo, CEO, National Engineering Industries Ltd., Khatipura Road, Jaipur</td>
                    <td>Member</td>
                </tr>
                <tr>
                    <td>Shri P. Elango, CEO of Cairn India Ltd., 4th Floor Vipul Plaza, Sun City , Sector -54, Gurgaon-122002</td>
                    <td>Member</td>
                </tr>
                <tr>
                    <td>Shri Diwakar Singhal, Genpact India, Senior Vice President & Business Leader, Genpect, J.L.N. Marg, Jaipur</td>
                    <td>Member</td>
                </tr>
                <tr>
                    <td>Shri Dinesh Nandwana, Chairman And Managing Director, Vakrangee Softwares Limited</td>
                    <td>Member</td>
                </tr>
                <tr>
                    <td>Shri Shankar Annaswamy, Senior Advisor, India Enterprise IBM India/South Asia</td>
                    <td>Member</td>
                </tr>
                <tr>
                    <td>Principal Secretary, Technical Education, Government of Rajasthan, Secretariat, Jaipur</td>
                    <td>Member</td>
                </tr>

                </tbody>
            </table>
        </div>



    </main>
</div>



</body>
<footer>
    <% include footer.ejs %>
</footer>




</html>