<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row0">
    <div id="topbar" class="hoc clear">
        <!-- ################################################################################################ -->
        <div class="fl_left">
            <ul class="nospace inline pushright">
                <li><i class="fa fa-phone"></i> +00 (123) 456 7890</li>
                <li><a class="fa fa-envelope-o"></a> Student Login</li>
            </ul>
        </div>
        <div class="fl_right">
            <ul class="faico clear">
                <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="faicon-pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
                <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a class="faicon-dribble" href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a class="faicon-rss" href="#"><i class="fa fa-rss"></i></a></li>
            </ul>
        </div>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row1">
    <header id="header" class="hoc clear">
        <!-- ################################################################################################ -->
        <div id="logo" class="fl_left">
            <!--<img src="/images/IIIT-_Kota_Logo.png">-->
            <h1><a href="index.html">Indian Institute of Information Technology, Kota</a></h1>
        </div>
        <div id="quickinfo" class="fl_right">
            <ul class="nospace inline">
                <li><strong>Malesuada:</strong><br>
                    +00 (123) 456 7890</li>
                <li><strong>Semper:</strong><br>
                    +00 (123) 456 7890</li>
            </ul>
        </div>
        <!-- ################################################################################################ -->
    </header>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row2">
    <nav id="mainav" class="hoc clear">
        <!-- ################################################################################################ -->
        <ul class="clear">
            <li ><a class="drop" href="#">Home</a>
                <ul>
                    <li><a href="#">About Institute</a></li>
                    <li><a href="#">Mission and Vision</a></li>
                    <li><a href="#">Act and Statute</a></li>
                    <li><a href="#">General Council</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Media</a></li>
                    <li><a href="#">Opinions</a></li>
                    <li><a href="#">Newsletter</a></li>

                </ul>
            </li>
            <li><a class="drop" href="#">Admission</a>
                <ul>
                    <li><a href="pages/gallery.html">BTECH</a></li>
                    <li><a href="pages/full-width.html">MTECH</a></li>
                    <li><a href="pages/sidebar-left.html">Fees</a></li>
                    <li><a href="pages/basic-grid.html">PHD</a></li>
                    <li><a href="pages/sidebar-right.html">Scholarship and Fellowships</a></li>

                </ul>
            </li>
            <li><a class="drop" href="#">People</a>
                <ul>
                    <li><a href="#">Administration</a></li>
                    <li><a href="#">Faculty</a></li>
                    <li><a href="#">Visiting Faculty</a></li>
                    <li><a href="#">Adjunct Faculty</a></li>
                    <li><a class="drop" href="#">BTECH Students</a>
                        <ul>
                            <li><a href="#">Current</a></li>
                            <li><a href="#">Graduated</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Alumni</a></li>
                </ul>
            </li>
            <li><a class="drop" href="#">Facilities and Services</a>
                <ul>
                    <li><a href="#">Overall Campus</a></li>
                    <li><a href="#">Library</a></li>
                    <li><a class="drop" href="#">IT Infrastructure</a>
                        <ul>
                            <li><a href="#">Computing Services</a> </li>
                            <li><a href="#">Software Services</a> </li>
                        </ul>
                    </li>
                    <li><a href="#">Computer Labs</a></li>
                    <li><a href="#">Security</a></li>
                    <li><a href="#">Counselling</a></li>
                    <li><a href="#">Medical</a></li>
                    <li><a href="#">Hostel Services</a></li>
                    <li><a href="#">Incubation Center</a></li>
                </ul>

            </li>
            <li><a class="drop" href="#">Student Affairs</a>
            <ul>
                <li><a href="#">Events and News</a></li>
                <li><a class="drop" href="#">Hostels</a>
                    <ul>
                        <li><a href="#">About Hostel</a></li>
                        <li><a href="#">Hostel Policies</a></li>
                        <li><a href="#">Allocation Policies</a></li>
                        <li><a href="#">Hostel Location</a></li>
                    </ul>
                </li>
                <li><a href="#">Sports and Recreation</a> </li>
                <li><a href="#">Student Clubs</a> </li>
                <li><a href="#">Student Conduct</a> </li>
                <li><a class="drop" href="#">Student Festivals</a>
                    <ul>
                        <li><a href="#">Foundation Day</a></li>
                    </ul>

                </li>
                <li><a class="drop" href="#">Student Governance</a>
                    <ul>
                        <li><a href="#">Student Council</a></li>
                        <li><a href="#">Student Senate</a></li>


                    </ul>
                </li>
                <li><a class="drop" href="#">Discipline and Grievance</a>
                    <ul>
                        <li><a href="#">Student's Code of Conduct</a></li>
                        <li><a href="#">Grievance Redressal</a></li>
                        <li><a href="#">Disciplinary Action</a></li>
                        <li><a href="#">Anti Sexual Harassment Committee</a></li>
                        <li><a href="#">Anti Ragging Committee</a></li>



                    </ul></li>
                </ul>
                </li>
            <li><a href="#" class="drop">Placement</a>
            <ul>
                <li><a href="#">Placement Procedure</a></li>
                <li><a href="#">Placement Statistics 2017</a></li>
                <li><a href="#">Our Recruiters</a></li>
                <li><a href="#">Batch Graduating in 2017</a></li>
                <li><a class="drop" href="#">Internships</a>
                    <ul>
                        <li><a href="#">Statistics</a></li>
                        <li><a href="#">Past Internships</a></li>
                        <li><a href="#">Internships @IIITK</a></li>
                    </ul>
                </li>
                <li><a href="#">Higher Studies</a></li>
                <li><a href="#">Testimonials</a></li>
                <li><a href="#">Contact T&P</a></li>
            </ul>
            </li>



            </li>

        </ul>
        <!-- ################################################################################################ -->
    </nav>
</div>