<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<style>.active { color: red; font-weight: bold; }</style>

<!--<div class="wrapper row0">-->
    <!--<div id="topbar" class="hoc clear">-->
        <!--&lt;!&ndash; ################################################################################################ &ndash;&gt;-->
        <!--<div class="fl_left">-->
            <!--<ul class="nospace inline pushright">-->
                <!--<li><i class="fa fa-phone"></i> +91 9636004841</li>-->
                <!--<li><a class="glyphicon glyphicon-log-in" href="/login"> Administrator</a></li>-->
                <!--&lt;!&ndash;<li><a class="fa fa-envelope-o"></a> Student Login</li>&ndash;&gt;-->
            <!--</ul>-->
        <!--</div>-->
        <!--<div class="fl_right">-->
            <!--<ul class="faico clear">-->
                <!--<li><a class="faicon-facebook" href="https://www.facebook.com/IndianInstituteOfInformationTechnologyKota/" title="Facebook"><i class="fa fa-facebook"></i></a></li>-->
                <!--<li><a class="faicon-pinterest" href="#" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>-->
                <!--<li><a class="faicon-twitter" href="https://twitter.com/iiitkota?lang=en" title="Twitter"><i class="fa fa-twitter"></i></a></li>-->
                <!--<li><a class="faicon-dribble" href="#"><i class="fa fa-dribbble" title="Dribbble"></i></a></li>-->
                <!--<li><a class="faicon-linkedin" href="https://in.linkedin.com/in/iiit-kota-b28446120" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>-->
                <!--<li><a class="faicon-google-plus" href="https://plus.google.com/103812805891379408282" title="Google+"><i class="fa fa-google-plus"></i></a></li>-->
                <!--<li><a class="faicon-rss" href="#" title="RSS"><i class="fa fa-rss"></i></a></li>-->
            <!--</ul>-->
        <!--</div>-->
        <!--&lt;!&ndash; ################################################################################################ &ndash;&gt;-->
    <!--</div>-->
<!--</div>-->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row1">
    <header id="header" class="hoc clear">
        <!-- ################################################################################################ -->
        <div id="logo" class="fl_left">
            <img src="/images/IIIT-_Kota_Logo_white.png" style="float: left; width: 100px;height: 60px;margin-right: 10px;" >
            <h1><a href="/"> Indian Institute of Information Technology, Kota</a></h1>
        </div>
        <div id="quickinfo" class="fl_right">
            <ul class="nospace">
                <li style="color:#aaaaaa"><span class="glyphicon glyphicon-earphone"style="margin-right: 15px;"></span><span style="margin-right: 33px;">+91-9461841952</span><span>+91-9636004841</span> </li>
                <!--<li style="font-family:'Arial'"><span class="glyphicon glyphicon-envelope"></span><span>  </span>office@iiitkota.ac.in</li>-->
                <li><a class="glyphicon glyphicon-log-in" href="/login" style="color: #6F9EA6; float:right;"> Administrator</a></li>
                <li style="padding-top: 18px;">
                    <ul class="faico clear inline">
                        <li style="margin-right: 2px"><a class="faicon-facebook" href="https://www.facebook.com/IndianInstituteOfInformationTechnologyKota/" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li style="margin-right: 2px"><a class="faicon-pinterest" href="#" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
                        <li style="margin-right: 2px"><a class="faicon-twitter" href="https://twitter.com/iiitkota?lang=en" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li style="margin-right: 2px"><a class="faicon-dribble" href="#"><i class="fa fa-dribbble" title="Dribbble"></i></a></li>
                        <li style="margin-right: 2px"><a class="faicon-linkedin" href="https://in.linkedin.com/in/iiit-kota-b28446120" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                        <li style="margin-right: 2px"><a class="faicon-google-plus" href="https://plus.google.com/103812805891379408282" title="Google+"><i class="fa fa-google-plus"></i></a></li>
                        <li style="margin-right: 0px"><a class="faicon-rss" href="#" title="RSS"><i class="fa fa-rss"></i></a></li>
                    </ul>
                </li>

            </ul>
        </div>

        <!-- ################################################################################################ -->
    </header>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row2">
    <nav id="mainav" class="hoc clear">
        <!-- ################################################################################################ -->
        <ul class="clear">
            <li ><a class="drop" href="/">Home</a>
                <ul>
                    <li><a href="/aboutus" title="About Institute">About Institute</a></li>
                    <li><a href="/mission" title="Mission and Vision">Mission and Vision</a></li>
                    <li><a href="/governingbody" title="Governing Body">Governing Body</a></li>
                    <li><a href="/executiveCouncil" title="Executive Council">Executive Council</a></li>
                    <li><a href="/senate" title="Senate">Senate</a></li>
                    <li><a href="#" title="FAQ">FAQ</a></li>
                    <li><a href="#" title="Media">Media</a></li>
                    <li><a href="#" title="Opinions">Opinions</a></li>
                    <li><a href="#" title="Newsletter">Newsletter</a></li>

                </ul>
            </li>
            <li><a class="drop" href="#">Admission</a>
                <ul>
                    <li><a href="#">BTECH</a></li>
                    <li><a href="#">MTECH</a></li>
                    <li><a href="/fee">Fees</a></li>
                    <li><a href="#">Scholarship and Fellowships</a></li>

                </ul>
            </li>
            <li><a class="drop" href="/administration">People</a>
                <ul>
                    <li><a href="/administration">Administration</a></li>
                    <li><a href="/faculty">Faculty</a></li>
                    <li><a href="/visitingfaculty">Visiting Faculty</a></li>
                    <li><a href="/adjunctfaculty">Adjunct Faculty</a></li>
                    <li><a href="/btech_students">BTECH Students</a></li>
                    <li><a href="/btech_graduated">Alumni</a></li>
                </ul>
            </li>
            <li><a class="drop" href="#">Academics</a>
                <ul>
                    <li><a href="/courses">Courses</a></li>
                    <li><a href="/department">Departments</a></li>
                    <li><a href="#">Curriculum</a></li>
                    <li><a href="#">Time Table</a></li>
                </ul>
            </li>
            <li><a class="drop" href="#">Facilities & Services</a>
                <ul>
                    <li><a href="/campus">Overall Campus</a></li>
                    <li><a href="/library">Library</a></li>
                    <li><a href="/infrastructure">IT Infrastructure</a></li>
                    <li><a href="/computerlab">Computer Labs</a></li>
                    <li><a href="#">Security</a></li>
                    <li><a href="#">Counselling</a></li>
                    <li><a href="/medical">Medical</a></li>
                    <li><a href="/dining">Dining Services</a></li>
                </ul>

            </li>
            <li><a class="drop" href="/events">Student Affairs</a>
            <ul>
                <li><a href="/events">Institute Events</a></li>
                <li><a class="drop" href="/hostelsite">Hostels</a>
                    <ul>
                        <li><a href="/abouthostel">About Hostels</a></li>
                        <li><a href="/hostelpolicy">Hostel Policies</a></li>
                        <li><a href="/hostelsite">Hostel's Site</a></li>
                    </ul>
                </li>
                <li><a href="/sports">Sports and Recreation</a> </li>
                <li><a href="/clubs">Student Clubs</a> </li>
                <li><a class="drop" href="http://www.flairfiesta.com/">Student Festivals</a>
                    <ul>
                        <li><a href="http://www.flairfiesta.com/">Foundation Day</a></li>
                    </ul>

                </li>
                <li><a class="drop" href="#">Student Governance</a>
                    <ul>
                        <li><a href="#">Student Council</a></li>
                        <li><a href="#">Student Senate</a></li>
                    </ul>
                </li>
                <li><a href="/discipline">Rules and Disciplines</a></li>
                </ul>
                </li>
            <li><a href="#" class="drop">Placement</a>
            <ul>
                <li><a href="#">Placement Procedure</a></li>
                <li><a href="#">Placement Statistics 2017</a></li>
                <li><a href="#">Our Recruiters</a></li>
                <li><a href="#">Batch Graduating in 2017</a></li>
                <li><a class="drop" href="#">Internships</a>
                    <ul>
                        <li><a href="#">Statistics</a></li>
                        <li><a href="#">Past Internships</a></li>
                        <li><a href="#">Internships @IIITK</a></li>
                    </ul>
                </li>
                <li><a href="#">Higher Studies</a></li>
                <li><a href="#">Testimonials</a></li>
                <li><a href="#">Contact T&P</a></li>
            </ul>
            </li>
            </li>

        </ul>
        <!-- ################################################################################################ -->
    </nav>
</div>