<!DOCTYPE html>
<html>
<head>

    <% include ../layout.ejs %>
    <title><%= title %></title>

    <header>
        <% include header.ejs %>
    </header>
</head>

<body id="top">
<div class="wrapper bgded overlay" style="background-image:url('/images/background.jpg');">
    <div id="breadcrumb" class="hoc clear">
        <!-- ################################################################################################ -->
        <ul>
            <li><a href="/">Student Affairs</a></li>
            <li><a href="/">Hostel</a></li>
            <li><a href="/hostelsite">Hostel's Site</a></li>

        </ul>
        <!-- ################################################################################################ -->
    </div>
</div>

<div class="wrapper row3">
    <main class="hoc container clear">
        <h1 style = "color:#06F;font-size:30px;margin-top:-50px;">Hostel's Site</h1>
        <br>
        <div class="content">
            <div id="gallery">
                    <ul class="nospace clear">
                        <li class="one_third first"><img src="/images/hostel1.jpg" alt=""></li>
                        <li class="one_third"><img src="/images/hostel2.jpg" alt=""></li>
                        <li class="one_third"><img style="height:230px;" src="/images/hostel3.png" alt=""></li>
                        <li class="one_third first"><img style="height:230px;" src="/images/hostel4.jpg" alt=""></li>
                        <li class="one_third"><img src="/images/hostel.jpg" alt=""></li>
                        <li class="one_third"><img src="/images/hostel1.jpg" alt=""></li>
                    </ul>

            </div>
        </div>
    </main>
</div>

<footer>
    <% include footer.ejs %>
</footer>

</body>
</html>