<div class="wrapper row3" ng-controller="EventController">
    <div class="hoc container clear">
        <!-- ################################################################################################ -->
        <div class="center btmspace-50">
            <h3 class="font-x2 nospace" style="color:#444444;font-size: 40px">Latest Events</h3>
            <p class="nospace">To see all events and more details, please <a href="/events">click here</a>.</p>
        </div>
        <div class="group">
            <article class="one_third first"><a href="#"><img class="image_style" src="images/event6.jpg" alt=""></a>
                <h4 class="nospace btmspace-10 font-x1 uppercase">{{topEventList.event1.title}}</h4>
                <ul class="nospace btmspace-10 group font-xs">
                    <li class="fl_left">
                        <!--<time datetime="2045-04-06">6<sup>th</sup> March 2018</time>-->
                        <time datetime="2045-04-06">{{topEventList.event1.date}}</time>
                    </li>
                    <li class="fl_right">by <a href="#">Admin</a></li>
                </ul>
                <hr>
                <p>{{topEventList.event1.description}}</p>
                    <!--The institute also organized a Cultural Program to remember sacrifices of our Freedom Fighters at Mini Auditorium, Prabha Bhavan, on&hellip;-->
                <p class="nospace"><a href="/events">Read More &raquo;</a></p>
            </article>
            <article class="one_third" ng-show="topEventList.second"><a href="#"><img class="image_style" src="images/event3.jpg" alt=""></a>
                <h4 class="nospace btmspace-10 font-x1 uppercase">{{topEventList.event2.title}}</h4>
                <ul class="nospace btmspace-10 group font-xs">
                    <li class="fl_left">
                        <time datetime="2045-04-05">{{topEventList.event2.date}}</time>
                    </li>
                    <li class="fl_right">by <a href="#">Admin</a></li>
                </ul>
                <hr>
                <p>{{topEventList.event2.description}}</p>
                <!--As part of IIIT Kernel lecture series, Mr Bhargav Mistry mesmerized us with IIIT Kernel Lecture-2 on Design Interation - Making products&hellip;-->
                <p class="nospace"><a href="/events">Read More &raquo;</a></p>
            </article>
            <article class="one_third" ng-show="topEventList.third"><a href="#"><img class="image_style" src="images/event7.jpeg" alt=""></a>
                <h4 class="nospace btmspace-10 font-x1 uppercase">{{topEventList.event3.title}}</h4>
                <ul class="nospace btmspace-10 group font-xs">
                    <li class="fl_left">
                        <time datetime="2045-04-04">{{topEventList.event3.date}}</time>
                    </li>
                    <li class="fl_right">by <a href="#">Admin</a></li>
                </ul>
                <hr>
                <p>{{topEventList.event3.description}}</p>
                    <!--A Fast Track Workshop of 8 days for Android Development is organized for second year students. They were taught about the basic designing&hellip;-->
                <p class="nospace"><a href="/events">Read More &raquo;</a></p>
            </article>


        </div>
        <!-- ################################################################################################ -->
    </div>
</div>

