<div class="wrapper bgded overlay brightness" style="background-image:url('/images/back3.jpg');">
    <div id="pageintro" class="hoc clear">

        <!-- ################################################################################################ -->
        <div class="flexslider basicslider">
            <ul class="slides">
                <li>
                    <article class="group">
                        <div class="one_half first">
                            <p class="uppercase">Inter-IIIT Sports Meet</p>
                            <h2 class="heading">Held at IIIT Kanchipuram</h2>
                            <p>IIIT Kota students participated as team in Inter-IIIT Sports Meet, 2016. Students participated in different games and got overall third position there.</p>
                            <p><a class="btn medium inverse" href="/events">Read More &raquo;</a></p>
                        </div>
                        <div class="one_half"><a href="#"><img src="/images/iiit_sports_meet.jpg" alt="" class="main_carousal_img"></a></div>
                    </article>
                </li>
                <li>
                    <article class="group">
                        <div class="one_half first">
                            <p class="uppercase">Celebration Yoga Day</p>
                            <h2 class="heading">Different Asanas and Pranayams were practiced</h2>
                            <p>IIIT Kota celebrated International Yoga Day on June 21, 2017 in MNIT Jaipur Campus. How to avoid stress in present day circumstances and stress management in general were discussed.</p>
                            <p><a class="btn medium inverse" href="/events">Read More &raquo;</a></p>
                        </div>
                        <div class="one_half"><a href="#"><img src="/images/yogaday.jpg" alt="" class="main_carousal_img"></a></div>
                    </article>
                </li>
                <li>
                    <article class="group">
                        <div class="one_half first">
                            <p class="uppercase">GIAN Workshop</p>
                            <h2 class="heading">A workshop for Faculties & Students</h2>
                            <p>Mentor institute, MNIT-Jaipur organized short Course on Managing the Complexity, Security and Safety of Large Software under GIAN (Global Initiative of Academic Network).</p>
                            <p><a class="btn medium inverse" href="/events">Read More &raquo;</a></p>
                        </div>
                        <div class="one_half"><a href="#"><img src="/images/iiitk_workshop.jpg" alt="" class="main_carousal_img"></a></div>
                    </article>
                </li>
            </ul>
        </div>
    </div>
</div>