<!DOCTYPE html>
<html>
<head>
    <% include ../layout.ejs %>
    <header>
        <% include header.ejs %>
    </header>
    <title><%= title %></title>

</head>

<body id="top">
<div class="wrapper bgded overlay" style="background-image:url('/images/background.jpg');">
    <div id="breadcrumb" class="hoc clear">
        <!-- ################################################################################################ -->
        <ul>
            <li><a href="/">Facilities & Services</a></li>
            <li><a href="/medical">Medical</a></li>

        </ul>
        <!-- ################################################################################################ -->
    </div>
</div>

<div class="wrapper row3">
    <main class="hoc container clear">
        <h1 style = "color:#06F;font-size:30px;margin-top:-30px;">Medical Facilities</h1>
        <p>A full-fledged Dispensary is available in the campus. It is supervised by a residential Medical Officer and two Compounders. The services of a part-time allopathic Doctor and a Lady Doctor are also available to students and to the family members of the staff.</p>
        <div style="float:right; width:60%; padding-left:10px;">
            <br><br><img style="height:300px;" class="img borderedbox inspace-5" src="/images/dispensary.jpg" alt="">
        </div>
        <div style="float:none; width:38%; padding-right:10px;">
            <u style="color:red"><h1 style ="color:red">Timings:</h1></u>
            <p style="margin-bottom:-3px;">10.00 AM - 06.00 PM (Monday to Saturday)</p>
            <p>10.00 AM - 04.00 PM (Sunday & Other Holidays)</p>
            <u><h5">Lady Doctor:</h5></u>
            <p style="margin-bottom:-5px;">4.30 PM - 6.30 PM (Monday to Friday)</p>
            <p>5.00 PM - 6.00 PM (Saturday)</p>
            <br><u style="color:red"><h1 style ="color:red;">Contact Information:</h1></u>
            <p style="margin-top:-10px;">Medical Officer<br>Dispensary<br>Malaviya National Institute of Technology<br>
                JLN Marg, Jaipur-302017<br>Phone no:0141 - 2713305 </p>
        </div>
    </main>
</div>

<footer>
    <% include footer.ejs %>
</footer>

</body>

</html>