<!-- Created by Sahil Ayank-->
<!-- 30 Jan 2018 -->


<!-- views/partials/aboutus.ejs -->
<!DOCTYPE html>
<html>
<head>

    <% include ../layout.ejs %>
    <title><%= title %></title>

    <header>
        <% include header.ejs %>
    </header>
</head>

<body id="top">
<div class="wrapper bgded overlay" style="background-image:url('/images/background.jpg');">
    <div id="breadcrumb" class="hoc clear">
        <!-- ################################################################################################ -->
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/mission">Mission and Vision</a></li>

        </ul>
        <!-- ################################################################################################ -->
    </div>
</div>

<div class="wrapper row3">
    <main class="hoc container clear">
        <!-- main body -->
        <!-- ################################################################################################ -->
        <div class="content">
            <!-- ################################################################################################ -->
            <h1>Vision</h1>
            <img class="imgr borderedbox inspace-5" src="/images/fulllogo_t.gif" alt="">
            <p>To create a center for imparting technical education of international standards and conduct research at the cutting edge of technology to meet the current and future challenges of technological development. </p>
            <h1>Mission</h1>
            <p>To create technical manpower for meeting the current and future demands of industry: To recognize education and research in close interaction with industry with emphasis on the development of leadership qualities in the young men and women entering the portals of the Institute with sensitivity to social development and eye for opportunities for growth in the international perspective </p>
        </div>
    </main>
</div>


<footer>
    <% include footer.ejs %>
</footer>


</body>


</html>