<div class="wrapper row3">
    <main class="hoc container clear">
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="center btmspace-50">
        <h3 class="font-x2 nospace">Mauris venenatis molestie</h3>
        <p class="nospace">Neque et posuere proin elementum luctus risus sit amet aliquet rutrum <a href="#">cras consectetur</a>.</p>
    </div>
    <ul class="nospace group services">
        <li class="one_third first">
            <article><a href="#"><i class="fa fa-key"></i></a>
                <h6 class="heading">euismod interdum</h6>
                <p>mauris aliquet neque a interdum est ex dapibus dui nunc id metus varius vehicula ante nec velit etiam sem arcu varius in lacus sed rhoncus&hellip;</p>
                <footer><a href="#">Read More &raquo;</a></footer>
            </article>
        </li>
        <li class="one_third">
            <article><a href="#"><i class="fa fa-language"></i></a>
                <h6 class="heading">varius convallis</h6>
                <p>sagittis nunc sed congue nunc non ultrices tincidunt morbi accumsan commodo eros nec posuere donec rhoncus quis nisl non tempor&hellip;</p>
                <footer><a href="#">Read More &raquo;</a></footer>
            </article>
        </li>
        <li class="one_third">
            <article><a href="#"><i class="fa fa-laptop"></i></a>
                <h6 class="heading">iaculis dictum</h6>
                <p>natoque penatibus et magnis dis parturient montes nascetur ridiculus mus vivamus dictum interdum cum sociis natoque penatibus&hellip;</p>
                <footer><a href="#">Read More &raquo;</a></footer>
            </article>
        </li>
        <li class="one_third first">
            <article><a href="#"><i class="fa fa-bar-chart"></i></a>
                <h6 class="heading">efficitur tempus</h6>
                <p>parturient montes nascetur ridiculus mus praesent eleifend nulla quis volutpat gravida diam sapien viverra sem ut faucibus quam&hellip;</p>
                <footer><a href="#">Read More &raquo;</a></footer>
            </article>
        </li>
        <li class="one_third">
            <article><a href="#"><i class="fa fa-music"></i></a>
                <h6 class="heading">donec lobortis</h6>
                <p>aliquam tristique diam a aliquet purus enim placerat dui eget efficitur purus eros at elit aenean tristique dui quam sit amet pharetra arcu&hellip;</p>
                <footer><a href="#">Read More &raquo;</a></footer>
            </article>
        </li>
        <li class="one_third">
            <article><a href="#"><i class="fa fa-bolt"></i></a>
                <h6 class="heading">tellus dignissim</h6>
                <p>sit amet nam malesuada volutpat elit eget suscipit nulla bibendum at quisque in odio at nulla pretium convallis eu vel dui&hellip;</p>
                <footer><a href="#">Read More &raquo;</a></footer>
            </article>
        </li>
    </ul>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
</main>
</div>
</body>