<div class="wrapper row3">
    <main class="hoc container clear">
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="center btmspace-50">
        <h1 class="font-x2 nospace" style="color:#444444; font-size: 50px">Latest News</h1>
        <!--<p class="nospace">Neque et posuere proin elementum luctus risus sit amet aliquet rutrum <a href="#">cras consectetur</a>.</p>-->
    </div>
    <div class="nospace group services" style="min-height:160px; max-height:355px; overflow: auto;" >
        <div ng-repeat="news in printNews">
            <div class="one_third first">
                <article><a href="#"><i ng-class="news.type1"></i></a>
                    <h6 class="heading" style="color: #2d2e38;">{{news.content1.title}}</h6>
                    <p>{{news.content1.text}}</p>
                    <footer><a href="#">Read More &raquo;</a></footer>
                </article>
            </div>
            <div class="one_third" ng-show="news.second">
                <article><a href="#"><i ng-class="news.type2"></i></a>
                    <h6 class="heading" style="color: #2d2e38;">{{news.content2.title}}</h6>
                    <p>{{news.content2.text}}</p>
                    <footer><a href="#">Read More &raquo;</a></footer>
                </article>
            </div>

            <div class="one_third" ng-show="news.third">
                <article><a href="#"><i ng-class="news.type3"></i></a>
                    <h6 class="heading" style="color: #2d2e38;">{{news.content3.title}}</h6>
                    <p>{{news.content3.text}}</p>
                    <footer><a href="#">Read More &raquo;</a></footer>
                </article>
            </div>

        </div>
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
</main>
</div>