<div class="wrapper bgded overlay" style="background-image:url('/images/back.jpg');">
    <div class="hoc container clear">
        <!-- ################################################################################################ -->
        <div class="center btmspace-50">
            <h3 class="font-x2 nospace">Dapibus massa efficitur</h3>
            <p class="nospace">Enim a sapien quis elementum cursus ante in ultrices turpis <a href="#">metus porttitor</a>.</p>
        </div>
        <ul class="nospace group elements">
            <li class="one_third first">
                <figure><img src="/images/back.jpg" alt="">
                    <figcaption><a href="#">Arcu maximus</a></figcaption>
                </figure>
            </li>
            <li class="one_third">
                <figure><img src="/images/back.jpg" alt="">
                    <figcaption><a href="#">Sed praesent</a></figcaption>
                </figure>
            </li>
            <li class="one_third">
                <figure><img src="/images/back.jpg" alt="">
                    <figcaption><a href="#">Risus posuere</a></figcaption>
                </figure>
            </li>
        </ul>
        <p class="nospace center"><a class="btn" href="#">Nec quisque dictum</a></p>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!--<div class="wrapper bgded" style="background-image:url('/images/back.jpg');">-->
    <!--<ul class="nospace group clrbox">-->
        <!--&lt;!&ndash; ################################################################################################ &ndash;&gt;-->
        <!--<li>-->
            <!--<article>-->
                <!--<h4 class="heading">Nulla orci vel lobortis</h4>-->
                <!--<p>Ultricies odio est quis semper mauris semper et vivamus quis enim pretium fermentum est vitae suscipit nunc&hellip;</p>-->
                <!--<p><a class="btn" href="#">Justo duis</a></p>-->
            <!--</article>-->
        <!--</li>-->
        <!--<li>-->
            <!--<article>-->
                <!--<h4 class="heading">Phasellus condimentum</h4>-->
                <!--<p>Integer eu turpis quis leo rhoncus ultrices vitae nec metus duis risus eros hendrerit id faucibus ac pharetra&hellip;</p>-->
                <!--<p><a class="btn inverse" href="#">Eget dolor</a></p>-->
            <!--</article>-->
        <!--</li>-->
        <!--<li>-->
            <!--<article>-->
                <!--<h4 class="heading">Lobortis erat et molestie</h4>-->
                <!--<p>Etiam venenatis mi quam vehicula iaculis eros sagittis nec morbi vitae mollis dui duis sit amet condimentum&hellip;</p>-->
                <!--<p><a class="btn" href="#">Tellus nullam</a></p>-->
            <!--</article>-->
        <!--</li>-->
        <!--&lt;!&ndash; ################################################################################################ &ndash;&gt;-->
    <!--</ul>-->
<!--</div>-->