<!DOCTYPE html>
<html>
<head>
    <% include ../layout.ejs %>
    <header>
        <% include header.ejs %>
    </header>
    <title><%= title %></title>

</head>

<body id="top">
<div class="wrapper bgded overlay" style="background-image:url('/images/background.jpg');">
    <div id="breadcrumb" class="hoc clear">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/senate">Senate</a></li>

        </ul>
    </div>
</div>

<div class="wrapper row3">
    <main class="hoc container clear">

        <h1 style = "color:#06F;font-size:30px;margin-top:-30px;">Senate</h1>
        <div style="display:inline-block;">
            <div style="float:left;" class="scrollable">
                <h1 style ="color:black">Mentor Institute</h1>
                <table style="width:90%;">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Designation & Organization</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Prof. Uday Kumar Yaragatti</td>
                        <td>Director, MNIT Jaipur </td>
                    </tr>
                    <tr>
                        <td>Dr. Vijay Laxmi</td>
                        <td>CSE, MNIT Jaipur</td>
                    </tr>
                    <tr>
                        <td>Prof. Manoj Singh Gaur</td>
                        <td>CSE, MNIT Jaipur</td>
                    </tr>
                    <tr>
                        <td>Dr. Vijay Janyanii</td>
                        <td>ECE, MNIT Jaipur</td>
                    </tr>
                    <tr>
                        <td>Dr. Lava Bhargava</td>
                        <td>ECE, MNIT Jaipur</td>
                    </tr>
                    <tr>
                        <td>Prof. M.C. Govil</td>
                        <td>CSE, MNIT Jaipur</td>
                    </tr>
                    <tr>
                        <td>Prof. Vineet Sahula</td>
                        <td>ECE, MNIT Jaipur</td>
                    </tr>
                    <tr>
                        <td>Prof. Manoj Fozdar</td>
                        <td>EE, MNIT Jaipur</td>
                    </tr>
                    <tr>
                        <td>Mrs. Nanny Tripathi</td>
                        <td>HSS, MNIT Jaipur</td>
                    </tr>
                    <tr>
                        <td>Dr. Meenakshi Tripathi</td>
                        <td>CSE, MNIT Jaipur</td>
                    </tr>
                    <tr>
                        <td>Dr. Preety Bhatt</td>
                        <td>HSS, MNIT Jaipur</td>
                    </tr>
                    <tr>
                        <td>Dr. Arka Prokash Mazumdar</td>
                        <td>CSE, MNIT Jaipur</td>
                    </tr>
                    <tr>
                        <td>Dr. Dipti Sharma</td>
                        <td>HSS, MNIT Jaipur</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div style="float:right;" class="scrollable">
            <h1 style ="color:black">External Members</h1>
            <table style="width:90%;">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Designation & Organization</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Prof. K. Babu Rao </td>
                    <td>Navyuga Technologies, Hyderabad</td>
                </tr>
                <tr>
                    <td>Prof. Dheeraj Sanghi</td>
                    <td>IIT Kanpur (Currently at IIIT Delhi)</td>
                </tr>
                <tr>
                    <td>Mr. Gaurav Somani</td>
                    <td>CURAJ, Kishangarh, Ajmer</td>
                </tr>
                <tr>
                    <td>Dr. Preety Singh</td>
                    <td>LNMIIT Jaipur</td>
                </tr>
                <tr>
                    <td>Prof. C.V. Jawahar</td>
                    <td>IIIT, Hyderabad</td>
                </tr>
                <tr>
                    <td>Prof. Dhiren Patel</td>
                    <td>SVNIT Surat</td>
                </tr>
                <tr>
                    <td>Prof. Pragati Kumar</td>
                    <td>DTU, New Delhi</td>
                </tr>
                <tr>
                    <td>Prof. J.P. Mishra</td>
                    <td>BITS, Pilani</td>
                </tr>
                <tr>
                    <td>Dr.Giriraj Nyati</td>
                    <td>Chief Operating Officer at Secure Meters Limited</td>
                </tr>
                <tr>
                    <td>Er. Pradeep Gour</td>
                    <td>Director, Lawrence and Mayo Education Group</td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>
</div>

</body>
<footer>
    <% include footer.ejs %>
</footer>

</html>