<!DOCTYPE html>
<html>
<head>
    <% include ../layout.ejs %>
    <header>
        <% include header.ejs %>
    </header>
    <title><%= title %></title>

</head>

<body id="top">
<div class="wrapper bgded overlay" style="background-image:url('/images/background.jpg');">
    <div id="breadcrumb" class="hoc clear">
        <!-- ################################################################################################ -->
        <ul>
            <li><a href="/">Student Affairs</a></li>
            <li><a href="/sports">Sports & Recreation</a></li>

        </ul>
        <!-- ################################################################################################ -->
    </div>
</div>

<div class="wrapper row3">
    <main class="hoc container clear">
        <h1 style = "color:#06F;font-size:30px;margin-top:-50px;">Sports & Recreation</h1>
        <div class="content">
            <div class="row">
                <div class="col-sm-5">
                    <h4>IIIT Kota at Gusto-2017, IIITDM Jabalpur</h4>
                    <p>Students of IIIT Kota participated in Gusto 2017 held at Indian Institute of Information Technology, Design and Manufacturing (IIITDM), Jabalpur during January 27-29, 2017.</p>
                    <p>Total 38 students participated in various games (Athletics, Badminton, Chess, Cricket, Table Tennis and Carrom).</p>
                    <p>Achievements:- </p>
                    <p>Silver medal<br>1. 100 m race (Navneet Poonia)<br>2. 200 m race (Navneet Poonia)<br>3. 400 m race (Rahul Tyagi)<br>4. 800 m race (Mohit Choudhary)<br>5. Carrom (Anjali Garg)</p>
                    <p>Bronze medal<br>1. 100 m race (Deepak Yadav)<br>2. 800 m race (Jaipal Singh)</p>
                    <p>Institute is proud of team IIIT Kota’s achievements. </p>
                    <img src="/images/sport1.jpg">
                </div>
                <div class="col-sm-6">
                    <h4>IIIT Kota stands 3rd overall at Inter IIIT Sports Meet – 2016</h4>
                    <p>Students of IIIT Kota participated at Inter IIIT Sports Meet – 2016 held at IIITDM Kancheepuram during Dec 13-15, 2016.</p>
                    <p>Team IIIT Kota ranked 3rd overall and institute is proud of this achievement.</p>
                    <p>Total 34 students participated in various games (athletics, badminton, chess, cricket, etc.).</p>
                    <p>Achievements:-</p>
                    <p>Bronze medal<br>
                        1. Cricket (boys team)<br>
                        2. Long jump (Parth Kumar)<br>
                        3. Badminton doubles (girls team)<br>
                    </p>
                    <p>Silver medal<br>
                        1. 4*400 (boys team)<br>
                        2. Shotput (Srikant Deshmane)<br>
                        3. Chess (Nidhi Mantri)<br>
                    </p>
                    <p>Gold medal<br>1. Long jump (Navneet Poonia) </p>
                    <p style="display:inline-block">
                        <img style="float:left;width:50%;" src="/images/sport2.jpg">
                        <img style="float:right;width:50%;" src="/images/sport3.jpg">
                    </p>
                </div>
            </div>
        </div>
    </main>
</div>

<footer>
    <% include footer.ejs %>
</footer>

</body>
</html>