<!-- Created by Sahil Ayank-->
<!-- 30 Jan 2018 -->


<!-- views/partials/aboutus.ejs -->
<!DOCTYPE html>
<html>
<head>
    <% include ../layout.ejs %>
    <header>
        <% include header.ejs %>
    </header>
    <title><%= title %></title>

</head>

<body id="top">
<div class="wrapper bgded overlay" style="background-image:url('/images/background.jpg');">
    <div id="breadcrumb" class="hoc clear">
        <!-- ################################################################################################ -->
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">Student Affairs</a></li>
            <li><a href="/studentForum">Student Forum</a></li>

        </ul>
    </div>
</div>

</body>
<footer>
    <% include footer.ejs %>
</footer>

</html>