<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
<head ng-app="IIITKWebsite" ng-controller="IndexController">
    <% include layout.ejs %>
    <header>
        <% include partials/header.ejs %>
    </header>
    <title><%= title %></title>

</head>

<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div>
    <% include partials/firstphoto.ejs %>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div>
    <% include partials/news.ejs %>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div>
    <% include partials/photogallery.ejs %>
</div>

<div>
    <% include partials/latestevent.ejs %>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded coloured overlay" style="background-image:url('/images/background.jpg');">
    <article class="hoc container clear center">
        <!-- ################################################################################################ -->
        <h6 class="heading">Posuere quis dictum congue praesent elit eget hendrerit</h6>
        <p class="nospace"><a class="btn" href="#">Blandit donec</a></p>
        <!-- ################################################################################################ -->
    </article>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<footer>
    <% include partials/footer.ejs %>
</footer>

</body>
</html>